
<form class="entryData-form" [formGroup]="entryForm">

  <div class="row form-col">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Operator" formControlName="operator" name="operator" />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Role" formControlName="role" name="role" />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Date In</mat-label>
        <input [readonly]="true" matInput formControlName="dateIn" name="dateIn">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Time In</mat-label>
        <input [readonly]="true" matInput formControlName="timeIn" name="timeIn">
      </mat-form-field>
    </div>
  </div>

  <div class="row form-col">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Sequence No" formControlName="sequenceNo" name="sequenceNo" />
        <mat-error *ngIf="entryForm.controls['sequenceNo'].errors && 
              entryForm.controls['sequenceNo'].errors['required'] &&
              entryForm.controls['sequenceNo'].touched
                    ">Sequence No is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>First Weight</mat-label>
        <input matInput placeholder="First Weight" formControlName="firstWeight" name="firstWeight" />
        <mat-error *ngIf="entryForm.controls['firstWeight'].errors &&
        entryForm.controls['firstWeight'].errors['required'] &&
        entryForm.controls['firstWeight'].touched
              ">First Weight is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-select [(value)]="selectedGood" (selectionChange)="onChange($event)">
          <mat-option *ngFor="let option of goodsList" [value]="option.key">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="row form-col">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Vehicle Plate No</mat-label>
        <mat-select formControlName="vehicleNo" placeholder="Mode" name="vehicleNo"
          (selectionChange)="onVehicleChange($event)">
          <mat-option *ngFor="let option of vehicleList" [value]="option.plateNo">
            {{option.vehicleType}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entryForm.controls['vehicleNo'].errors && 
              entryForm.controls['vehicleNo'].errors['required'] &&
              entryForm.controls['vehicleNo'].touched
                    ">Vehicle Plate No is required
        </mat-error>
        <a matSuffix class="btn btn-sm btn-outline-primary action-btn d-print-none" role="button" aria-pressed="true" (click)="addNew($event, 'vehicleNo')">
          <mat-icon class="icon-line-height" matTooltip="add New Vehicle">add</mat-icon>
        </a>      
      </mat-form-field>   
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Transporter</mat-label>
        <mat-select formControlName="transporter" placeholder="Mode">
          <mat-option *ngFor="let option of transportersList" [value]="option.nameOfTransporter">
            {{option.transporterCode}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entryForm.controls['transporter'].errors && 
        entryForm.controls['transporter'].errors['required'] &&
        entryForm.controls['transporter'].touched
              ">Transporter is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>


  <div class="row form-col">
    <div class="col" *ngIf="selectedGood ==='incoming'">
      <mat-form-field class="full-width">
        <mat-select formControlName="supplier" placeholder="Supplier">
          <mat-option *ngFor="let option of suppliersList" [value]="option.supplierName">
            {{option.supplierCode}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entryForm.controls['supplier'].errors && 
        entryForm.controls['supplier'].errors['required'] &&
        entryForm.controls['supplier'].touched
              ">Supplier is required
        </mat-error>
        <a matSuffix class="btn btn-sm btn-outline-primary action-btn d-print-none" role="button" aria-pressed="true" (click)="addNew($event,'supplier')">
          <mat-icon class="icon-line-height" matTooltip="add New Supplier">add</mat-icon>
        </a>
      </mat-form-field>
    </div>
    <div class="col" *ngIf="selectedGood ==='outgoing'">
      <mat-form-field class="full-width">
        <mat-select formControlName="customer" placeholder="Customer">
          <mat-option *ngFor="let option of customersList" [value]="option.customerName">
            {{option.customerCode}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entryForm.controls['customer'].errors && 
        entryForm.controls['customer'].errors['required'] &&
        entryForm.controls['customer'].touched
              ">Customer is required
        </mat-error>
        <a matSuffix class="btn btn-sm btn-outline-primary d-print-none" role="button" aria-pressed="true" (click)="addNew($event, 'customer')">
          <mat-icon class="icon-line-height" matTooltip="add New Supplier">add</mat-icon>
        </a>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Product</mat-label>
        <mat-select formControlName="products" placeholder="Mode">
          <mat-option *ngFor="let option of productsList" [value]="option.productName">
            {{option.productCode}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entryForm.controls['products'].errors && 
        entryForm.controls['products'].errors['required'] &&
        entryForm.controls['products'].touched
              ">Product is required
        </mat-error>      
      </mat-form-field>
    </div>
  </div>


  <div class="row form-col">  
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Driver Licence No." formControlName="licenceNo" name="pieces" />
        <mat-error *ngIf="entryForm.controls['licenceNo'].errors &&
        entryForm.controls['licenceNo'].errors['required'] &&
        entryForm.controls['licenceNo'].touched
              ">Driver Licence No is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Driver Name</mat-label>
        <input matInput placeholder="Driver Name" formControlName="driverName" name="driverName" />
        <mat-error *ngIf="entryForm.controls['driverName'].errors &&
        entryForm.controls['driverName'].errors['required'] &&
        entryForm.controls['driverName'].touched
              ">Driver Name is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-select formControlName="nationality" placeholder="Nationality">
          <mat-option *ngFor="let option of nationalityList" [value]="option.driverNationalityName">
            {{option.driverNationalityCode}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entryForm.controls['nationality'].errors && 
        entryForm.controls['nationality'].errors['required'] &&
        entryForm.controls['nationality'].touched
              ">Nationality is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>


  <div class="row form-col">
    <div class="col-md-4 col-sm-12">
      <mat-form-field class="full-width">
        <input matInput placeholder="No.of Pieces" formControlName="pieces" name="pieces" />
        <mat-error *ngIf="entryForm.controls['pieces'].errors &&
        entryForm.controls['pieces'].errors['required'] &&
        entryForm.controls['pieces'].touched
              ">Pieces is required
        </mat-error>
      </mat-form-field>
    </div>

  </div>





  <div class="row mb-1 form-col">

      <ng-container *ngFor="let item of keyValueData ;let index = index; last as isLast; trackBy:trackByFn">    
        
        <div class="row form-col">
        
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Key</mat-label>
              <input [(ngModel)]="item.key" matInput name=key{{index}} [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
        
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Value</mat-label>
              <input [(ngModel)]="item.value" matInput name=Value{{index}} [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>

          <div class="col d-print-none" *ngIf="isLast" >
            <button class="btn btn-sm" mat-flat-button color="primary" mat-button (click)="addKeyValues()">
              Add Key Value
            </button>
          </div>
        
        </div>
    </ng-container>  

  </div>

 
  <div class="row mb-1 form-col" *ngIf="emptyKeyValue">
    <mat-error>
      Please fill all key value pair values
    </mat-error>
  </div>


  <div class="row form-col">    

    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Add Instructions/Comments</mat-label>
        <textarea matInput placeholder="Instructions/Comments" formControlName="instructions"
          name="instructions"></textarea>
        <mat-error *ngIf="entryForm.controls['instructions'].errors &&
        entryForm.controls['instructions'].errors['required'] &&
        entryForm.controls['instructions'].touched
              ">Instructions/Comments is required
        </mat-error>
      </mat-form-field>
    </div>

  </div>


  

  <div class="mb-1 d-flex justify-content-evenly d-print-none">

    <button class="btn btn-sm" [disabled]="!entryForm.valid" mat-flat-button color="primary" type="submit" mat-button
      (click)="printLayout()">
      Print
    </button>

    <button class="btn btn-sm" [disabled]="!entryForm.valid" mat-flat-button color="primary" type="submit" mat-button
      (click)="save()">
      Save
    </button>

    <button class="btn btn-sm btn-link" mat-flat-button  type="submit" mat-button (click)="cancel()">
      Cancel
    </button>
  </div>

</form>