
<form class="entryData-form" [formGroup]="entryForm">

  <div class="row form-col">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="{{staticText.operator}}" formControlName="operator" name="operator" />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="{{staticText.role}}" formControlName="role" name="role" />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <input [readonly]="true" matInput placeholder="{{staticText.datein}}" formControlName="dateIn" name="dateIn">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <input [readonly]="true" matInput placeholder="{{staticText.timein}}" formControlName="timeIn" name="timeIn">
      </mat-form-field>
    </div>
  </div>

  <div class="row form-col">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="{{staticText.sequenceno}}" formControlName="sequenceNo" name="sequenceNo" />
        <mat-error *ngIf="entryForm.controls['sequenceNo'].errors && 
              entryForm.controls['sequenceNo'].errors['required'] &&
              entryForm.controls['sequenceNo'].touched
                    ">{{staticText.sequenceno}} {{staticText.required}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{staticText.firstweight}}</mat-label>
        <input matInput placeholder="{{staticText.firstweight}}" formControlName="firstWeight" name="firstWeight" />
        <mat-error *ngIf="entryForm.controls['firstWeight'].errors &&
        entryForm.controls['firstWeight'].errors['required'] &&
        entryForm.controls['firstWeight'].touched
              ">{{staticText.firstweight}} {{staticText.required}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-select [(value)]="selectedGood" (selectionChange)="onChange($event)">
          <mat-option *ngFor="let option of goodsList" [value]="option.key">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="row form-col">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{staticText.vehicleno}}</mat-label>
        <mat-select formControlName="vehicleNo" placeholder="{{staticText.vehicleno}}" name="vehicleNo"
          (selectionChange)="onVehicleChange($event)">
          <mat-option *ngFor="let option of vehicleList" [value]="option.plateNo">
            {{option.vehicleType}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entryForm.controls['vehicleNo'].errors && 
              entryForm.controls['vehicleNo'].errors['required'] &&
              entryForm.controls['vehicleNo'].touched
                    ">{{staticText.vehicleno}} {{staticText.required}}
        </mat-error>
        <a matSuffix class="btn btn-sm btn-outline-primary action-btn d-print-none" role="button" aria-pressed="true" (click)="addNew($event, 'vehicleNo')">
          <mat-icon class="icon-line-height" matTooltip="{{staticText.addvehicle}}">add</mat-icon>
        </a>      
      </mat-form-field>   
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{staticText.transporter}}</mat-label>
        <mat-select formControlName="transporter" placeholder="{{staticText.transporter}}" name="transporter">
          <mat-option *ngFor="let option of transportersList" [value]="option.transporterCode">
            {{option.nameOfTransporter}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entryForm.controls['transporter'].errors && 
        entryForm.controls['transporter'].errors['required'] &&
        entryForm.controls['transporter'].touched
              ">{{staticText.transporter}} {{staticText.required}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>


  <div class="row form-col">
    <div class="col" *ngIf="selectedGood ==='incoming'">
      <mat-form-field class="full-width">
        <mat-select formControlName="supplier" placeholder="{{staticText.supplier}}">
          <mat-option *ngFor="let option of suppliersList" [value]="option.supplierCode">
            {{option.supplierName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entryForm.controls['supplier'].errors && 
        entryForm.controls['supplier'].errors['required'] &&
        entryForm.controls['supplier'].touched
              ">{{staticText.supplier}} {{staticText.required}}
        </mat-error>
        <a matSuffix class="btn btn-sm btn-outline-primary action-btn d-print-none" role="button" aria-pressed="true" (click)="addNew($event,'supplier')">
          <mat-icon class="icon-line-height" matTooltip="{{staticText.addsupplier}}">add</mat-icon>
        </a>
      </mat-form-field>
    </div>
    <div class="col" *ngIf="selectedGood ==='outgoing'">
      <mat-form-field class="full-width">
        <mat-select formControlName="customer" placeholder="{{staticText.customer}}">
          <mat-option *ngFor="let option of customersList" [value]="option.customerCode">
            {{option.customerName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entryForm.controls['customer'].errors && 
        entryForm.controls['customer'].errors['required'] &&
        entryForm.controls['customer'].touched
              ">{{staticText.customer}} {{staticText.required}}
        </mat-error>
        <a matSuffix class="btn btn-sm btn-outline-primary d-print-none" role="button" aria-pressed="true" (click)="addNew($event, 'customer')">
          <mat-icon class="icon-line-height" matTooltip="{{staticText.addcustomer}}">add</mat-icon>
        </a>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{staticText.product}}</mat-label>
        <mat-select formControlName="products" placeholder="{{staticText.product}}">
          <mat-option *ngFor="let option of productsList" [value]="option.productCode">
            {{option.productName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entryForm.controls['products'].errors && 
        entryForm.controls['products'].errors['required'] &&
        entryForm.controls['products'].touched
              ">{{staticText.product}} {{staticText.required}}
        </mat-error>      
      </mat-form-field>
    </div>
  </div>


  <div class="row form-col">  
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="{{staticText.licenceno}}" formControlName="licenceNo" name="licenceNo" />
        <mat-error *ngIf="entryForm.controls['licenceNo'].errors &&
        entryForm.controls['licenceNo'].errors['required'] &&
        entryForm.controls['licenceNo'].touched
              ">{{staticText.licenceno}} {{staticText.required}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{staticText.drivername}}</mat-label>
        <input matInput placeholder="{{staticText.drivername}}" formControlName="driverName" name="driverName" />
        <mat-error *ngIf="entryForm.controls['driverName'].errors &&
        entryForm.controls['driverName'].errors['required'] &&
        entryForm.controls['driverName'].touched
              ">{{staticText.drivername}} {{staticText.required}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-select formControlName="nationality" name="nationality" placeholder="{{staticText.nationality}}">
          <mat-option *ngFor="let option of nationalityList" [value]="option.driverNationalityCode">
            {{option.driverNationalityName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="entryForm.controls['nationality'].errors && 
        entryForm.controls['nationality'].errors['required'] &&
        entryForm.controls['nationality'].touched
              ">{{staticText.nationality}} {{staticText.required}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>


  <div class="row form-col">
    <div class="col-md-4 col-sm-12">
      <mat-form-field class="full-width">
        <input matInput placeholder="{{staticText.pieces}}" formControlName="pieces" name="pieces" />
        <mat-error *ngIf="entryForm.controls['pieces'].errors &&
        entryForm.controls['pieces'].errors['required'] &&
        entryForm.controls['pieces'].touched
              ">{{staticText.pieces}} {{staticText.required}}
        </mat-error>
      </mat-form-field>
    </div>

  </div>





  <div class="row mb-1 form-col">

      <ng-container *ngFor="let item of keyValueData ;let index = index; last as isLast; trackBy:trackByFn">    
        
        <div class="row form-col">
        
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>{{staticText.key}}</mat-label>
              <input [(ngModel)]="item.name" matInput name=name{{index}} [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
        
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>{{staticText.value}}</mat-label>
              <input [(ngModel)]="item.value" matInput name=Value{{index}} [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>

          <div class="col d-print-none" *ngIf="isLast" >
            <button class="btn btn-sm" type="button" mat-flat-button color="primary" mat-button (click)="addKeyValues($event)">
              {{staticText.addkeyvalues}}
            </button>
          </div>
        
        </div>
    </ng-container>  

  </div>

 
  <div class="row mb-1 form-col" *ngIf="emptyKeyValue">
    <mat-error>
      {{staticText.emptykeyvalue}}
    </mat-error>
  </div>


  <div class="row form-col">    

    <div class="col">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{staticText.instructions}}</mat-label>
        <textarea matInput placeholder="{{staticText.instructions}}" formControlName="instructions"
          name="instructions"></textarea>
        <mat-error *ngIf="entryForm.controls['instructions'].errors &&
        entryForm.controls['instructions'].errors['required'] &&
        entryForm.controls['instructions'].touched
              ">{{staticText.instructions}} {{staticText.required}}
        </mat-error>
      </mat-form-field>
    </div>

  </div>


  

  <div class="mb-1 d-flex justify-content-evenly d-print-none">

    <button class="btn btn-sm" mat-flat-button color="primary" mat-button (click)="printLayout()">
      {{staticText.print}}
    </button>

    <button class="btn btn-sm" [disabled]="!entryForm.valid" mat-flat-button color="primary" type="submit" mat-button
      (click)="save()">
      {{staticText.save}}
    </button>

    <button class="btn btn-sm btn-link" mat-flat-button  mat-button (click)="cancel()">
      {{staticText.cancel}}
    </button>
  </div>

</form>