
@import 'styles.scss';

.entryData-form {
  
    .clsLbl{
        padding-top: .5rem;
        font-size: 1.2rem;
    }

    .form-col {
        
        .lbl-text {
            padding-top: calc(1.1rem + 1px);
            font-size: .875rem;
        }

        .selected-text {
            padding-top: calc(1.1rem + 1px);
            font-size: 1rem;
        }
    }
        
    .icon-line-height {
        line-height: 1.2rem;
    }

    .action-btn {
        height: 30px;
    }

    @media print {
        ::ng-deep.mat-select-arrow {
            display: none;
        }
    }
    
    .classscroll {
        height: calc(80vh - 1rem);
        overflow: hidden;
        overflow-y: auto;

        @include media-breakpoint-up(md){
            height: calc(50vh - 1rem);
        }
        
        @include media-breakpoint-down(sm) {
            height: calc(35vh - 1rem);
            padding: 0 5px;
            margin-bottom: 1rem;
        }

        @include scrollbars();
    }

    video{
        width: 320px;
        height: 200px;
        border: 1px solid red;
    }

    img.snap{
        width: 320px;
        height: 200px;        
        border: 1px dashed red;
    }
   
    .snapbutton{
        margin: 5px;        
    }

}

  