
<form class="entryData-form" [formGroup]="entryForm">

  <div class="d-flex justify-content-between mb-3">
    <h2>{{'transactions.data.entry.header' | translate }}</h2>
    <button class="btn btn-sm d-print-none" mat-flat-button color="primary" mat-button (click)="printLayout()" type="button">
      {{'actions.print' | translate }}
    </button>
  </div>

  <div [ngClass]="{'classscroll': !isPrintActive}" cdkScrollable>
  
    <div class="row">

      <div class="col-sm-6 border-right">  
  
        <div class="row form-col">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.entry.operator' | translate }}" formControlName="operator"
                name="operator" />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.entry.role' | translate }}" formControlName="role"
                name="role" />
            </mat-form-field>
          </div>          
        </div>

        <div class="row form-col">
          <div class="col">
            <mat-form-field class="full-width">
              <input [readonly]="true" matInput placeholder="{{'transactions.data.entry.datein' | translate }}"
                formControlName="dateIn" name="dateIn">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input [readonly]="true" matInput placeholder="{{'transactions.data.entry.timein' | translate }}"
                formControlName="timeIn" name="timeIn">
            </mat-form-field>
          </div>
        </div>

  
        <div class="row form-col">
          <div class="col">
            <mat-form-field class="full-width">
              <input [readonly]="true" matInput placeholder="{{'transactions.data.entry.sequenceno' | translate }}"
                formControlName="sequenceNo" name="sequenceNo" />
  
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>{{'transactions.data.entry.firstweight' | translate }}</mat-label>
              <input matInput placeholder="{{'transactions.data.entry.firstweight' | translate }}"
                formControlName="firstWeight" name="firstWeight" />
              <mat-error *ngIf="entryForm.controls['firstWeight'].errors &&
          entryForm.controls['firstWeight'].errors['required'] &&
          entryForm.controls['firstWeight'].touched
                ">{{'transactions.data.entry.firstweight' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
       
        </div>


        <div class="row form-col">
          
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select [(value)]="selectedGood" (selectionChange)="onChange($event)">
                <mat-option *ngFor="let option of goodsList" [value]="option.key">
                  {{option.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col" *ngIf="selectedGood ==='INCOMING_GOODS'">
            <mat-form-field class="full-width">
  
              <input type="text" placeholder="{{'transactions.data.entry.supplierinfo' | translate }}" matInput
                formControlName="supplier" name="supplier" [matAutocomplete]="autoSupplier">
              <mat-autocomplete #autoSupplier="matAutocomplete">
  
                <mat-option *ngFor="let option of filteredSupplierList | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="entryForm.controls['supplier'].errors && 
          entryForm.controls['supplier'].errors['required'] &&
          entryForm.controls['supplier'].touched
                ">{{'transactions.data.entry.supplierinfo' | translate }} {{'common.required' | translate }}
              </mat-error>
  
              <mat-error *ngIf="entryForm.controls['supplier'].errors && 
          entryForm.controls['supplier'].errors['invalidData'] &&
          entryForm.controls['supplier'].touched
                ">{{'transactions.data.entry.suppliercode' | translate }} {{'common.invalid' | translate }}
              </mat-error>
              <a matSuffix class="btn btn-sm btn-outline-primary action-btn d-print-none" role="button"
                aria-pressed="true" (click)="addNew($event,'supplier')">
                <mat-icon class="icon-line-height"
                  matTooltip="{{'transactions.data.entry.addsupplier' | translate }}">add</mat-icon>
              </a>
            </mat-form-field>
          </div>

          <div class="col" *ngIf="selectedGood ==='OUTGOING_GOODS'">
            <mat-form-field class="full-width">
  
              <input type="text" placeholder="{{'transactions.data.entry.customercode' | translate }}" matInput
                formControlName="customer" name="customer" [matAutocomplete]="autoCustomer">
              <mat-autocomplete #autoCustomer="matAutocomplete">
  
                <mat-option *ngFor="let option of filteredCustomerList | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="entryForm.controls['customer'].errors && 
          entryForm.controls['customer'].errors['required'] &&
          entryForm.controls['customer'].touched
                ">{{'transactions.data.entry.customercode' | translate }} {{'common.required' | translate }}
              </mat-error>
  
              <mat-error *ngIf="entryForm.controls['customer'].errors && 
          entryForm.controls['customer'].errors['invalidData'] &&
          entryForm.controls['customer'].touched
                ">{{'transactions.data.entry.customercode' | translate }} {{'common.invalid' | translate }}
              </mat-error>
  
              <a matSuffix class="btn btn-sm btn-outline-primary action-btn d-print-none" role="button"
                aria-pressed="true" (click)="addNew($event, 'customer')">
                <mat-icon class="icon-line-height"
                  matTooltip="{{'transactions.data.entry.addcustomer' | translate }}">add</mat-icon>
              </a>
            </mat-form-field>
          </div>

         
        </div>
  
  
        <div class="row form-col">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>{{'transactions.data.entry.vehicleno' | translate }}</mat-label>
              <input type="text" placeholder="{{'transactions.data.entry.vehicleno' | translate }}" matInput
                formControlName="vehicleNo" name="vehicleNo" [matAutocomplete]="autoVehicle">
              <mat-autocomplete #autoVehicle="matAutocomplete">
  
                <mat-option *ngFor="let option of filteredVehicleList | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
  
              <mat-error *ngIf="entryForm.controls['vehicleNo'].errors && 
                      entryForm.controls['vehicleNo'].errors['required'] &&
                      entryForm.controls['vehicleNo'].touched
                            ">{{'transactions.data.entry.vehicleno' | translate }} {{'common.required' | translate }}
              </mat-error>
  
              <mat-error *ngIf="entryForm.controls['vehicleNo'].errors && 
                        entryForm.controls['vehicleNo'].errors['invalidData'] &&
                        entryForm.controls['vehicleNo'].touched
                              ">{{'transactions.data.entry.vehicleno' | translate }} {{'common.invalid' | translate }}
              </mat-error>
  
              <a matSuffix class="btn btn-sm btn-outline-primary action-btn d-print-none" role="button"
                aria-pressed="true" (click)="addNew($event, 'vehicleNo')">
                <mat-icon class="icon-line-height"
                  matTooltip="{{'transactions.data.entry.addvehicle' | translate }}">add</mat-icon>
              </a>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>{{'transactions.data.entry.product' | translate }}</mat-label>
  
              <input type="text" placeholder="{{'transactions.data.entry.product' | translate }}" matInput
                formControlName="products" name="products" [matAutocomplete]="autoProducts">
              <mat-autocomplete #autoProducts="matAutocomplete">
  
                <mat-option *ngFor="let option of filteredProductsList | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="entryForm.controls['products'].errors && 
          entryForm.controls['products'].errors['required'] &&
          entryForm.controls['products'].touched
                ">{{'transactions.data.entry.product' | translate }} {{'common.required' | translate }}
              </mat-error>
              <mat-error *ngIf="entryForm.controls['products'].errors && 
                  entryForm.controls['products'].errors['invalidData'] &&
                  entryForm.controls['products'].touched
                        ">{{'transactions.data.entry.product' | translate }} {{'common.invalid' | translate }}
              </mat-error>
            </mat-form-field> 
          </div>

        </div>
  
        <div class="row form-col">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.entry.pieces' | translate }}" formControlName="pieces"
                name="pieces" />
              <mat-error *ngIf="entryForm.controls['pieces'].errors &&
          entryForm.controls['pieces'].errors['required'] &&
          entryForm.controls['pieces'].touched
                ">{{'transactions.data.entry.pieces' | translate }} {{'common.required' | translate }}
              </mat-error>
              <mat-error *ngIf="entryForm.controls['pieces'].errors &&
          entryForm.controls['pieces'].errors['invalidNumberFormat'] &&
          entryForm.controls['pieces'].touched
                "> {{'transactions.data.entry.pieces' | translate }} {{'common.invalid' | translate }}
              </mat-error>
            </mat-form-field>
  
          </div>

          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.entry.driverinfotooltip' | translate }}"
                formControlName="driverData" name="driverData" [readonly]="true"/>
              <mat-error *ngIf="entryForm.controls['driverData'].errors &&
          entryForm.controls['driverData'].errors['required'] &&
          entryForm.controls['driverData'].touched
                ">{{'transactions.data.entry.driverinfo' | translate }} {{'common.required' | translate }}
              </mat-error>

              <a matSuffix class="btn btn-sm btn-outline-primary action-btn d-print-none" role="button"
                aria-pressed="true" (click)="addNew($event, 'driverInfo')">
                <mat-icon class="icon-line-height"
                  matTooltip="{{'transactions.data.entry.adddriver' | translate }}">add</mat-icon>
              </a>
            </mat-form-field>
          </div>

        </div>
  
     
        <div class="row mb-1 form-col">
  
          <ng-container *ngFor="let item of keyValueData ;let index = index; last as isLast; trackBy:trackByFn">
  
            <div class="row form-col">
  
              <div class="col">
                <mat-form-field class="full-width">
                  <mat-label>{{'transactions.data.entry.key' | translate }}</mat-label>
                  <input [(ngModel)]="item.name" matInput name=name{{index}} [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
  
              <div class="col keyvaluemain">
                <mat-form-field class="full-width" style="width:93%">
                  <mat-label>{{'transactions.data.entry.value' | translate }}</mat-label>
                  <input [(ngModel)]="item.value" matInput name=Value{{index}} [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <span class="d-print-none keyvalueadd" *ngIf="isLast">                 
                  <a class="btn btn-sm btn-outline-primary action-btn d-print-none" role="button"
                  aria-pressed="true" (click)="addKeyValues($event)">
                  <mat-icon class="icon-line-height"
                    matTooltip="{{'transactions.data.entry.addkeyvalues' | translate }}">add</mat-icon>
                </a>
                </span>
              </div>
  
            </div>
          </ng-container>
  
        </div>
  
  
        <div class="row mb-1 form-col" *ngIf="emptyKeyValue">
          <mat-error>
            {{'transactions.data.entry.emptykeyvalue' | translate }}
          </mat-error>
        </div>
  
  
        <div class="row form-col">
  
          <div class="col">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>{{'transactions.data.entry.instructions' | translate }}</mat-label>
              <textarea matInput placeholder="{{'transactions.data.entry.instructions' | translate }}"
                formControlName="instructions" name="instructions"></textarea>
              <mat-error *ngIf="entryForm.controls['instructions'].errors &&
          entryForm.controls['instructions'].errors['required'] &&
          entryForm.controls['instructions'].touched
                ">{{'transactions.data.entry.instructions' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
  
        </div>
  
      </div>
  
  
      <div class="col-sm-6 d-print-none">

        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-between">
              <button class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="capture(1)">
                Snap CAM1
              </button>
              <button [hidden]="hideSnap1" class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="clearsnap(1)">
                Clear Snap1
              </button>
            </div>

            <div class="d-flex justify-content-between">
              <video class="snap" controls #video1></video>
              <img #snap1 class="snap" alt="snap1" [hidden]="hideSnap1" />
            </div>
            
          </div>
        </div>

        <div class="row">

          <div class="col">

            <div class="d-flex justify-content-between">
              <button class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="capture(2)">
                Snap CAM2
              </button>
              <button [hidden]="hideSnap2" class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="clearsnap(2)">
                Clear Snap2
              </button>
            </div>

            <div class="d-flex justify-content-between ">
              <video class="snap" controls #video2></video>
              <img #snap2 class="snap" alt="snap2" [hidden]="hideSnap2" />
            </div>
            
          </div>

        </div>

        <div class="row">

          <div class="col">

            <div class="d-flex justify-content-between">
              <button class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="capture(3)">
                Snap CAM3
              </button>
              <button [hidden]="hideSnap3" class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="clearsnap(3)">
                Clear Snap3
              </button>
            </div>

            <div class="d-flex justify-content-between ">
              <video class="snap" controls #video3></video>
              <img #snap3 class="snap" alt="snap3" [hidden]="hideSnap3" />
            </div>
            
          </div>

        </div>

        <div class="row">

          <div class="col">

            <div class="d-flex justify-content-between">
              <button class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="capture(4)">
                Snap CAM4
              </button>
              <button [hidden]="hideSnap4" class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="clearsnap(4)">
                Clear Snap4
              </button>
            </div>

            <div class="d-flex justify-content-between ">
              <video class="snap" controls #video4></video>
              <img #snap4 class="snap" alt="snap4" [hidden]="hideSnap4" />
            </div>
            
          </div>

        </div>
  
      </div>
  
    </div>
  
  </div>
  
  <div class="mb-1 d-flex justify-content-between w-50 d-print-none">    

    <button class="btn btn-sm" [disabled]="!entryForm.valid" mat-flat-button color="primary" type="submit" mat-button
      (click)="save()">
      {{'actions.save' | translate }}
    </button>

    <button class="btn btn-sm btn-link" mat-flat-button  mat-button type="button" (click)="reset()">
      {{'actions.reset' | translate }}
    </button>

    <button class="btn btn-sm btn-link"  mat-flat-button  mat-button (click)="cancel()">
      {{'actions.cancel' | translate }}
    </button>
  </div>

</form>