
@import 'styles.scss';

.entryData-form {
  
    .clsLbl{
        padding-top: .5rem;
        font-size: 1.2rem;
    }

    .form-col {
        
        .lbl-text {
            padding-top: calc(1.1rem + 1px);
            font-size: .875rem;
        }

        .selected-text {
            padding-top: calc(1.1rem + 1px);
            font-size: 1rem;
        }
    }
        
    .icon-line-height {
        line-height: 1.2rem;
    }

    .action-btn {
        height: 30px;
    }

    @media print {
        ::ng-deep.mat-select-arrow {
            display: none;
        }
    }
    
    .classscroll {
        height: calc(90vh - 15rem);
        overflow: hidden;
        overflow-y: auto;
        margin-bottom: 0.5rem;

        @include media-breakpoint-up(md){
            height: calc(89vh - 15rem);
        }
        
        @include media-breakpoint-down(sm) {
            height: calc(89vh - 15rem);
            padding: 0 5px;
            margin-bottom: 1rem;
        }

        @include scrollbars();
    }

   .snap {        
        height: 150px;        
        border: 1px dashed red;
        margin-inline: .5rem;
        width: 50%;
    }
   
    .snapbutton {
        margin: 5px;
        line-height: 30px;
        padding: 0 12px;    
    }

}

  