<form class="product-form" [formGroup]="form">
  <div class="row mb-2">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{staticText.productcode}}</mat-label>
        <input matInput placeholder="{{staticText.productcode}}" formControlName="productCode" name="productCode" />
        <mat-error *ngIf="form.controls['productCode'].errors && 
          form.controls['productCode'].errors['required'] &&
          form.controls['productCode'].touched
                ">{{staticText.productcode}} {{staticText.required}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{staticText.productname}}</mat-label>
        <input matInput placeholder="{{staticText.productname}}" formControlName="productName" name="productName" />
        <mat-error *ngIf="form.controls['productName'].errors && 
          form.controls['productName'].errors['required'] &&
          form.controls['productName'].touched
                ">{{staticText.productname}} {{staticText.required}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{staticText.customerprice}}</mat-label>
        <input matInput placeholder="{{staticText.customerprice}}" formControlName="customerPrice" name="customerPrice" />
        <mat-error *ngIf="form.controls['customerPrice'].errors &&
          form.controls['customerPrice'].errors['required'] &&
          form.controls['customerPrice'].touched
                ">{{staticText.customerprice}} {{staticText.required}}
        </mat-error>

        <mat-error *ngIf="form.controls['customerPrice'].errors &&
        form.controls['customerPrice'].errors['invalidNumberFormat'] &&
        form.controls['customerPrice'].touched
              "> {{staticText.customerprice}} {{'common.invalid' | translate }}
      </mat-error>
      
      </mat-form-field>
    </div>  

    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{staticText.supplierprice}}</mat-label>
        <input matInput placeholder="{{staticText.supplierprice}}" formControlName="supplierPrice" name="supplierPrice" />
        <mat-error *ngIf="form.controls['supplierPrice'].errors &&
          form.controls['supplierPrice'].errors['required'] &&
          form.controls['supplierPrice'].touched
                ">{{staticText.supplierprice}} {{staticText.required}}
        </mat-error>

        <mat-error *ngIf="form.controls['supplierPrice'].errors &&
        form.controls['supplierPrice'].errors['invalidNumberFormat'] &&
        form.controls['supplierPrice'].touched
              "> {{staticText.supplierprice}} {{'common.invalid' | translate }}
      </mat-error>
      
      </mat-form-field>
    </div> 

   
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <mat-form-field class="full-width">
        <mat-label>{{staticText.productstock}}</mat-label>
        <input matInput placeholder="{{staticText.productstock}}" formControlName="productStock" name="productStock" />
        <mat-error *ngIf="form.controls['productStock'].errors && 
          form.controls['productStock'].errors['required'] &&
          form.controls['productStock'].touched
                ">{{staticText.productstock}} {{staticText.required}}
        </mat-error>

        <mat-error *ngIf="form.controls['productStock'].errors &&
        form.controls['productStock'].errors['invalidNumberFormat'] &&
        form.controls['productStock'].touched
              "> {{staticText.productstock}} {{'common.invalid' | translate }}
      </mat-error>
      </mat-form-field>
    </div>
    

    
  </div>


  <div class="d-flex justify-content-between w-100">

    <button *ngIf="data.actionName !== 'view'" class="btn btn-sm" mat-flat-button color="primary" type="submit"
      mat-button (click)="save()">
      {{staticText.save}}
    </button>

    <button class="btn btn-sm btn-link" mat-flat-button type="submit" mat-button (click)="close()">
      {{staticText.cancel}}
    </button>

  </div>
</form>