<form class="product-form" [formGroup]="form">
  <div class="row mb-2">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Product Code</mat-label>
        <input matInput placeholder="Product Code" formControlName="productCode" name="productCode" />
        <mat-error *ngIf="form.controls['productCode'].errors && 
          form.controls['productCode'].errors['productCode'] &&
          form.controls['productCode'].touched
                ">Product Code is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Product Name</mat-label>
        <input matInput placeholder="Product Name" formControlName="productName" name="productName" />
        <mat-error *ngIf="form.controls['productName'].errors && 
          form.controls['productName'].errors['required'] &&
          form.controls['productName'].touched
                ">Product Name is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">

    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Product Price</mat-label>
        <input matInput placeholder="Product Price" formControlName="productPrice" name="productPrice" />
        <mat-error *ngIf="form.controls['productPrice'].errors &&
          form.controls['productPrice'].errors['required'] &&
          form.controls['productPrice'].touched
                ">Product Price is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col">

      <angular2-multiselect [data]="productGroupsList"  appendTo="body" [settings]="dropdownSettings"
         formControlName="groupCode" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)">
      </angular2-multiselect>
    </div>

    
  </div>


  <div class="d-flex justify-content-between w-100">

    <button *ngIf="data.actionName !== 'view'" class="btn btn-sm" mat-flat-button color="primary" type="submit"
      mat-button (click)="save()">
      Save
    </button>

    <button class="btn btn-sm btn-link" mat-flat-button type="submit" mat-button (click)="close()">
      Cancel
    </button>

  </div>
</form>