@import 'styles.scss';

.viewData-form {

    .classscroll {
        height: calc(90vh - 25rem);
        min-height: 50vh;
        overflow: hidden;
        overflow-y: auto;
        margin-bottom: 0.5rem;

        @include media-breakpoint-down(sm) {
            height: calc(90vh - 25rem);
            padding: 0 5px;
            margin-bottom: 1rem;
        }

        @include scrollbars();
    }

    .card {
        margin-bottom: 24px;
        box-shadow: 0 0.75rem 1.5rem #12263f08;
        padding:.5rem;
    }

    .card-body {
        flex: 1 1 auto;
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
        color: var(--bs-card-color);
    }

    ngb-carousel {
        max-height: 200px;
        margin: 50px auto;
    }

    ngb-carousel img {
        width: 100%;
        outline: none;
    }

    ngb-carousel {
        width: 90%;
        height: 180px;
    }

    .carousel-inner {
        overflow: visible;
    }

    .carousel-item {
        display: flex !important;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1.2s ease-in-out, visibility 1.2s;
        z-index: -1;
    }

    .carousel-item.active {
        opacity: 1;
        visibility: visible;
        z-index: 10;
    }

    .picsum-img-wrapper {
        height: 180px !important;
    }

    .card-title {
        font-size: 15px;
        margin: 0 0 7px;
        font-weight: 600;
        color: var(--bs-emphasis-color);
    }

    .mat-input-element:disabled {
        color :#000;
    }

    .exitNodata {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .actionHeader {
        font-size: 15px;
        margin: 0 0 7px;
        font-weight: 600;
        color: var(--bs-emphasis-color);
    }

    .flex-1 {
        flex:1;
    }

    .print-btn {
        line-height: 32px;
    }
}