.reportsFilter {
  .mtop-5 {
    margin-top: 2.1rem;
  }

  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }

  .column {
    padding-inline-end: 0.5rem;
  }

  @media (max-width: 368px) {
    .columns {
      flex-wrap: nowrap;
    }
  }

  @media (min-width: 1400px) {
    .column {
      padding-inline-end: 1.5rem;
    }
  }
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 1.15em !important;
  }

  .maticon-size{
    font-size: 19px;
  }

  .mtop-1 {
    margin-top: .5rem;
  }

  .mrgt-1 {
    margin-right: .75rem;
  }
}