<div class="template-form" style="margin-inline-start: 2rem;">

  <div class="mb-2 d-flex justify-content-between d-print-none">
    <div>

      <button class="btn btn-sm" mat-flat-button color="primary" mat-button id="addBtn" (click)="addDraggable()">
        {{'Add Component' | translate }}
      </button>

      <button class="btn btn-sm" mat-flat-button color="primary" mat-button id="clearBtn">
        Clear Panel
      </button>

      <button class="btn btn-sm" mat-flat-button color="primary" mat-button id="saveBtn" (click)="saveTemplate()">
        Save
      </button>

      <button class="btn btn-sm" mat-flat-button color="primary" mat-button id="deleteBtn">
        Delete Selected
      </button>

      <button class="btn btn-sm" mat-flat-button color="primary" mat-button id="setA4">
        Set to A4 Size
      </button>

      <button class="btn btn-sm" mat-flat-button color="primary" mat-button id="setA2">
        Set to A2 Size
      </button>
    </div>

    <div style="width:250px;">
      <input type="file" class="form-control" id="loadFile" />
    </div>
  </div>


  <div class="panels-container">
    <div id="panel-1" class="panel"></div>
    <div id="panel-2" class="panel"></div>
    <div id="panel-3" class="panel" style="max-height: 400px;width:280px; overflow-y: auto;">
      <ng-container *ngFor="let item of labelNames; let i=index;">
        <div class="d-flex justify-content-between">
          <span class="predefined-label" style="margin-bottom: 0.25rem;">{{item?.value}}
          </span>
          <mat-icon aria-label="Edit" class="editiconbutton" color="primary"
            (click)="editLabelName(item,i)">edit</mat-icon>
        </div>       
      </ng-container>
    </div>

    <div id="panel-3" class="panel" style="max-height: 400px;width:220px; overflow-y: auto;">
      <ng-container *ngFor="let item of labelValues; let i=index;">
        <div class="d-flex justify-content-between">
          <span class="predefined-label" style="margin-bottom: 0.25rem;">{{item}}
          </span>          
        </div>       
      </ng-container>
    </div>
  </div>

  <ng-template let-data #myLabelDialog>
    <div mat-dialog-content>
      <mat-form-field class="full-width">
        <mat-label>New Label Name</mat-label>
        <input matInput type="text" [ngModel]="data.data" (ngModelChange)="data.data = $event" />
      </mat-form-field>
    </div>
    <mat-dialog-actions class="text-center">
      <button mat-raised-button color="primary" [disabled]="!data.data" [mat-dialog-close]="data.data"> {{'actions.save'
        | translate }}</button>
      <button mat-raised-button mat-dialog-close>{{'actions.cancel' | translate }}</button>
    </mat-dialog-actions>
  </ng-template>

</div>