<div class="template-form" style="margin-inline-start: 2rem; height: calc( 90vh - 4rem); overflow: auto;">

  <div class="mb-2 d-flex justify-content-between d-print-none">
    <div>

      <button class="btn btn-sm" mat-flat-button color="primary" mat-button id="addBtn" (click)="addDraggable()">
        {{'templatedata.addcomponent' | translate }}
      </button>

      <button class="btn btn-sm" mat-flat-button color="primary" mat-button id="addQR" (click)="addQR()">
        {{'templatedata.addqr' | translate }}
      </button>

      <button class="btn btn-sm" mat-flat-button color="primary" mat-button id="clearBtn">
        {{'templatedata.clearpanel' | translate }}
      </button>

      <button class="btn btn-sm" mat-flat-button color="primary" mat-button id="saveBtn" (click)="savetoServer()">
        {{'templatedata.save' | translate }}
      </button>

      <button class="btn btn-sm" mat-flat-button color="primary" mat-button id="deleteBtn">
        {{'templatedata.deleteselected' | translate }}
      </button>

      <button class="btn btn-sm" mat-flat-button color="primary" mat-button id="setA4">
        {{'templatedata.seta4size' | translate }}
      </button>

      <button class="btn btn-sm" mat-flat-button color="primary" mat-button id="setA2">
        {{'templatedata.seta2size' | translate }}
      </button>

      <button class="btn btn-sm" mat-flat-button color="primary" mat-button id="saveBtn" (click)="downloadTemplate()">
        {{'templatedata.download' | translate }}
      </button>
    </div>

    <div style="width:250px;">
      <input type="file" class="form-control" id="loadFile" />
    </div>
  </div>


  <div class="panels-container">
    <div class="d-flex flex-column">
      <div id="panel-1" class="panel" style="width:220px;"></div>
      <div id="panel-3" class="panel" style="width:220px;margin-top:1rem;">
        <ng-container *ngFor="let item of labelNames; let i=index; ">
          <div class="d-flex justify-content-between">
            <span class="predefined-label" style="margin-bottom: 0.25rem; font-weight: bold;"
            [ngStyle]="{'border': i > 0 && 0 === i % 2 ? '1px solid #000' : 'none', 'background': i > 0 ? '#00000007' : 'none'  }" >{{item?.value}}
            </span>
            <mat-icon aria-label="Edit" class="editiconbutton" color="primary"
              (click)="editLabelName(item,i)">edit</mat-icon>
          </div>
        </ng-container>
      </div>
    </div>
    
    <div id="panel-2" class="panel"></div>
    <div id="panel-3" class="panel" style="max-height: 60vh;width:220px; overflow-y: auto;height: 55vh;">
      <ng-container *ngFor="let item of labelValues; let i=index;">
        <div class="d-flex justify-content-between">
          <span class="predefined-label" style="margin-bottom: 0.25rem; background: #fff; ">{{item}}
          </span>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-template let-data #myLabelDialog>
    <div mat-dialog-content>
      <mat-form-field class="full-width">
        <mat-label>New Label Name</mat-label>
        <input matInput type="text" [ngModel]="data.data" (ngModelChange)="data.data = $event" />
      </mat-form-field>
    </div>
    <mat-dialog-actions class="text-center">
      <button mat-raised-button color="primary" [disabled]="!data.data" [mat-dialog-close]="data.data"> {{'actions.save'
        | translate }}</button>
      <button mat-raised-button mat-dialog-close>{{'actions.cancel' | translate }}</button>
    </mat-dialog-actions>
  </ng-template>

</div>