

.signUpClass {

  .c-radio-group {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .c-radio-button {
    margin: 0;
  }

  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }

}