.container{
    display:flex;
}

.classscroll {
  height: 75vh;
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: .75rem;

  &::-webkit-scrollbar {
      width: 10px;
  }
  
  &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(104, 140, 240, 0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
      box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
}

.column-1 {
  flex-basis: 50%;
  background-color: rgb(0, 64, 128);
  height: max-content;
}

.column-2 {
    flex-basis: 50%;
    background-color: rgb(3, 203, 255);
    height: max-content;
  }

.box {  
  padding: .5rem;
  margin: 0.1rem 1rem;
  box-shadow: 1px 1px 1px #000;
}

@media only screen and (max-width: 600px) {
    .container {
        /* it place the items in vertical direction */
      flex-direction: column;
    }
  
    .box {
      margin: 0 0 1rem;
    }
  }

.title_center {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    margin-bottom: 0.75rem;
  }

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-inline-end: 16px;
  }


  .mat-radio-button ~ .mat-radio-button{
    margin-left: 0 !important;
    margin-inline-end: 1rem;
  }
  