
<div style="margin-inline: 1%; width: 98%;" class="card shadow p-2 mb-2 bg-body rounded">
    <div class="card-body">
        <div class="full-width mt-2">
            <mat-label class="me-3 d-none d-lg-inline d-xl-inline">{{'wbSetting.selectweight' | translate }}</mat-label>  
            <mat-radio-group fxLayout aria-label="Select an option">
                <mat-radio-button class="me-3" checked value="kg">{{'wbSetting.kg' | translate }}</mat-radio-button>
                <mat-radio-button class="" value="lb">{{'wbSetting.lb' | translate }}</mat-radio-button>
              </mat-radio-group>
        </div>
    </div>
  </div>
<div class="container classscroll" cdkScrollable>
    <div class="column-1 box">
        <mat-card>
            <mat-card-header class="title_center">
              <mat-card-title>{{'wbSetting.firstWt' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="firstWeightForm">
                    <section class="example-section">                        
                        <div class="row" >
                            <div class="col-6 mt-2" *ngFor="let option of weighBridgeList; trackBy:trackByFn">
                                <mat-checkbox formControlName="{{option.key}}" (change)="onFirstWeightChkboxChange($event)">{{ option.lable | translate }}</mat-checkbox>                          
                            </div>
                        </div>
                      
                    </section>                   
                   
                    <mat-form-field class="full-width">
                        <input type="text" placeholder="{{'wbSetting.name' | translate }}" matInput formControlName="name" name="name" >
                        <mat-error *ngIf="firstWeightForm.controls['name'].errors &&
                        firstWeightForm.controls['name'].errors['required'] &&
                        firstWeightForm.controls['name'].touched
                                  ">{{'wbSetting.name' | translate }} {{'common.required' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input type="text" placeholder="{{'wbSetting.url' | translate }}" matInput formControlName="url" name="url">
                        <mat-error *ngIf="firstWeightForm.controls['url'].errors &&
                        firstWeightForm.controls['url'].errors['required'] &&
                        firstWeightForm.controls['url'].touched
                                  ">{{'wbSetting.url' | translate }} {{'common.required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="firstWeightForm.controls['url'].errors &&
                        firstWeightForm.controls['url'].errors['pattern'] &&
                        firstWeightForm.controls['url'].touched
                                  "> {{'wbSetting.invalidurl' | translate }}
                        </mat-error>
                    </mat-form-field>
                   
                    <mat-form-field class="full-width">
                    
                        <input type="text" placeholder="{{'wbSetting.portNo' | translate }}" matInput
                            formControlName="portNo" name="portNo" [matAutocomplete]="autoPortNo">
                        <mat-autocomplete #autoPortNo="matAutocomplete">
                            <mat-option *ngFor="let option of filteredPortList | async" [value]="option.key">
                                {{option.value}}
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="firstWeightForm.controls['portNo'].errors && 
                                                firstWeightForm.controls['portNo'].errors['required'] &&
                                                firstWeightForm.controls['portNo'].touched
                                                                          ">{{'wbSetting.portNo' | translate }} {{'common.required' | translate
                            }}
                        </mat-error>
                        
                        <mat-error *ngIf="firstWeightForm.controls['portNo'].errors && 
                                                firstWeightForm.controls['portNo'].errors['invalidData'] &&
                                                firstWeightForm.controls['portNo'].touched
                                                                            ">{{'wbSetting.portNo' | translate }} {{'common.invalid' |
                            translate }}
                        </mat-error>
                    
                    </mat-form-field>

                    <mat-form-field class="full-width">
                    
                        <input type="text" placeholder="{{'wbSetting.baudRate' | translate }}" matInput
                            formControlName="baudRate" name="baudRate" [matAutocomplete]="autoBaudRate">
                        <mat-autocomplete #autoBaudRate="matAutocomplete">
                            <mat-option *ngFor="let option of filteredBaudRateList | async" [value]="option.key">
                                {{option.value}}
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="firstWeightForm.controls['baudRate'].errors && 
                                                firstWeightForm.controls['baudRate'].errors['required'] &&
                                                firstWeightForm.controls['baudRate'].touched
                                                                          ">{{'wbSetting.baudRate' | translate }} {{'common.required' | translate
                            }}
                        </mat-error>
                        
                        <mat-error *ngIf="firstWeightForm.controls['baudRate'].errors && 
                                                firstWeightForm.controls['baudRate'].errors['invalidData'] &&
                                                firstWeightForm.controls['baudRate'].touched
                                                                            ">{{'wbSetting.baudRate' | translate }} {{'common.invalid' |
                            translate }}
                        </mat-error>
                    
                    </mat-form-field>

                    <mat-form-field class="full-width">
                    
                        <input type="text" placeholder="{{'wbSetting.databits' | translate }}" matInput
                            formControlName="dataBits" name="dataBits" [matAutocomplete]="autoDataBits">
                        <mat-autocomplete #autoDataBits="matAutocomplete">
                            <mat-option *ngFor="let option of filteredDataBitsRateList | async" [value]="option.key">
                                {{option.value}}
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="firstWeightForm.controls['dataBits'].errors && 
                                                firstWeightForm.controls['dataBits'].errors['required'] &&
                                                firstWeightForm.controls['dataBits'].touched
                                                                          ">{{'wbSetting.databits' | translate }} {{'common.required' | translate
                            }}
                        </mat-error>
                        
                        <mat-error *ngIf="firstWeightForm.controls['dataBits'].errors && 
                                                firstWeightForm.controls['dataBits'].errors['invalidData'] &&
                                                firstWeightForm.controls['dataBits'].touched
                                                                            ">{{'wbSetting.databits' | translate }} {{'common.invalid' |
                            translate }}
                        </mat-error>
                    
                    </mat-form-field>

                    <mat-form-field class="full-width">
                    
                        <input type="text" placeholder="{{'wbSetting.parity' | translate }}" matInput
                            formControlName="parity" name="parity" [matAutocomplete]="autoParity">
                        <mat-autocomplete #autoParity="matAutocomplete">
                            <mat-option *ngFor="let option of filteredParityList | async" [value]="option.key">
                                {{option.value}}
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="firstWeightForm.controls['parity'].errors && 
                                                firstWeightForm.controls['parity'].errors['required'] &&
                                                firstWeightForm.controls['parity'].touched
                                                                          ">{{'wbSetting.parity' | translate }} {{'common.required' | translate
                            }}
                        </mat-error>
                        
                        <mat-error *ngIf="firstWeightForm.controls['parity'].errors && 
                                                firstWeightForm.controls['parity'].errors['invalidData'] &&
                                                firstWeightForm.controls['parity'].touched
                                                                            ">{{'wbSetting.parity' | translate }} {{'common.invalid' |
                            translate }}
                        </mat-error>
                    
                    </mat-form-field>

                    <mat-form-field class="full-width">
                    
                        <input type="text" placeholder="{{'wbSetting.stopbits' | translate }}" matInput
                            formControlName="stopBits" name="stopBits" [matAutocomplete]="autoStopBits">
                        <mat-autocomplete #autoStopBits="matAutocomplete">
                            <mat-option *ngFor="let option of filteredStopBitsList | async" [value]="option.key">
                                {{option.value}}
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="firstWeightForm.controls['stopBits'].errors && 
                                                firstWeightForm.controls['stopBits'].errors['required'] &&
                                                firstWeightForm.controls['stopBits'].touched
                                                                          ">{{'wbSetting.stopbits' | translate }} {{'common.required' | translate
                            }}
                        </mat-error>
                        
                        <mat-error *ngIf="firstWeightForm.controls['stopBits'].errors && 
                                                firstWeightForm.controls['stopBits'].errors['invalidData'] &&
                                                firstWeightForm.controls['stopBits'].touched
                                                                            ">{{'wbSetting.stopbits' | translate }} {{'common.invalid' |
                            translate }}
                        </mat-error>
                    
                    </mat-form-field>
                </form>
            </mat-card-content>

            <mat-card-actions>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-sm" mat-flat-button color="primary" mat-button type="submit" [disabled]="!firstWeightForm.valid || btnSaveSettings">
                        {{'wbSetting.savesetting' | translate }}
                    </button>
                    <button class="btn btn-sm" mat-flat-button color="primary" mat-button type="submit" [disabled]="!firstWeightForm.valid || btnApplySettings">
                        {{'wbSetting.applysetting' | translate }}
                    </button>
                </div>     
              
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="column-2 box">
          <mat-card>
            <mat-card-header class="title_center">
              <mat-card-title>{{'wbSetting.secondWt' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="secondWeightForm">
                    <section class="example-section">                        
                        <div class="row" >
                            <div class="col-6 mt-2" *ngFor="let option of weighBridgeList; trackBy:trackByFn">
                                <mat-checkbox formControlName="{{option.key}}" (change)="onSecondWeightChkboxChange($event)">{{ option.lable | translate }}</mat-checkbox>                          
                            </div>
                        </div>
                      
                    </section>                   
                    

                    <mat-form-field class="full-width">
                        <input type="text" placeholder="{{'wbSetting.name' | translate }}" matInput formControlName="name" name="name" >
                        <mat-error *ngIf="secondWeightForm.controls['name'].errors &&
                        secondWeightForm.controls['name'].errors['required'] &&
                        secondWeightForm.controls['name'].touched
                                  ">{{'wbSetting.name' | translate }} {{'common.required' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <input type="text" placeholder="{{'wbSetting.url' | translate }}" matInput formControlName="url" name="url">
                        <mat-error *ngIf="secondWeightForm.controls['url'].errors &&
                        secondWeightForm.controls['url'].errors['required'] &&
                        secondWeightForm.controls['url'].touched
                                  ">{{'wbSetting.url' | translate }} {{'common.required' | translate }}
                        </mat-error>
                        <mat-error *ngIf="secondWeightForm.controls['url'].errors &&
                        secondWeightForm.controls['url'].errors['pattern'] &&
                        secondWeightForm.controls['url'].touched
                                  "> {{'wbSetting.invalidurl' | translate }}
                        </mat-error>
                    </mat-form-field>
                   
                    <mat-form-field class="full-width">
                    
                        <input type="text" placeholder="{{'wbSetting.portNo' | translate }}" matInput
                            formControlName="portNo" name="portNo" [matAutocomplete]="autosecPortNo">
                        <mat-autocomplete #autosecPortNo="matAutocomplete">
                            <mat-option *ngFor="let option of secfilteredPortList | async" [value]="option.key">
                                {{option.value}}
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="secondWeightForm.controls['portNo'].errors && 
                        secondWeightForm.controls['portNo'].errors['required'] &&
                        secondWeightForm.controls['portNo'].touched
                                                                          ">{{'wbSetting.portNo' | translate }} {{'common.required' | translate
                            }}
                        </mat-error>
                        
                        <mat-error *ngIf="secondWeightForm.controls['portNo'].errors && 
                        secondWeightForm.controls['portNo'].errors['invalidData'] &&
                        secondWeightForm.controls['portNo'].touched
                                                                            ">{{'wbSetting.portNo' | translate }} {{'common.invalid' |
                            translate }}
                        </mat-error>
                    
                    </mat-form-field>

                    <mat-form-field class="full-width">
                    
                        <input type="text" placeholder="{{'wbSetting.baudRate' | translate }}" matInput
                            formControlName="baudRate" name="baudRate" [matAutocomplete]="autosecBaudRate">
                        <mat-autocomplete #autosecBaudRate="matAutocomplete">
                            <mat-option *ngFor="let option of secfilteredBaudRateList | async" [value]="option.key">
                                {{option.value}}
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="secondWeightForm.controls['baudRate'].errors && 
                        secondWeightForm.controls['baudRate'].errors['required'] &&
                        secondWeightForm.controls['baudRate'].touched
                                                                          ">{{'wbSetting.baudRate' | translate }} {{'common.required' | translate
                            }}
                        </mat-error>
                        
                        <mat-error *ngIf="secondWeightForm.controls['baudRate'].errors && 
                        secondWeightForm.controls['baudRate'].errors['invalidData'] &&
                        secondWeightForm.controls['baudRate'].touched
                                                                            ">{{'wbSetting.baudRate' | translate }} {{'common.invalid' |
                            translate }}
                        </mat-error>
                    
                    </mat-form-field>

                    <mat-form-field class="full-width">
                    
                        <input type="text" placeholder="{{'wbSetting.databits' | translate }}" matInput
                            formControlName="dataBits" name="dataBits" [matAutocomplete]="autosecDataBits">
                        <mat-autocomplete #autosecDataBits="matAutocomplete">
                            <mat-option *ngFor="let option of secfilteredDataBitsRateList | async" [value]="option.key">
                                {{option.value}}
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="secondWeightForm.controls['dataBits'].errors && 
                        secondWeightForm.controls['dataBits'].errors['required'] &&
                        secondWeightForm.controls['dataBits'].touched
                                                                          ">{{'wbSetting.databits' | translate }} {{'common.required' | translate
                            }}
                        </mat-error>
                        
                        <mat-error *ngIf="secondWeightForm.controls['dataBits'].errors && 
                        secondWeightForm.controls['dataBits'].errors['invalidData'] &&
                        secondWeightForm.controls['dataBits'].touched
                                                                            ">{{'wbSetting.databits' | translate }} {{'common.invalid' |
                            translate }}
                        </mat-error>
                    
                    </mat-form-field>

                    <mat-form-field class="full-width">
                    
                        <input type="text" placeholder="{{'wbSetting.parity' | translate }}" matInput
                            formControlName="parity" name="parity" [matAutocomplete]="autosecParity">
                        <mat-autocomplete #autosecParity="matAutocomplete">
                            <mat-option *ngFor="let option of secfilteredParityList | async" [value]="option.key">
                                {{option.value}}
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="secondWeightForm.controls['parity'].errors && 
                        secondWeightForm.controls['parity'].errors['required'] &&
                        secondWeightForm.controls['parity'].touched
                                                                          ">{{'wbSetting.parity' | translate }} {{'common.required' | translate
                            }}
                        </mat-error>
                        
                        <mat-error *ngIf="secondWeightForm.controls['parity'].errors && 
                        secondWeightForm.controls['parity'].errors['invalidData'] &&
                        secondWeightForm.controls['parity'].touched
                                                                            ">{{'wbSetting.parity' | translate }} {{'common.invalid' |
                            translate }}
                        </mat-error>
                    
                    </mat-form-field>

                    <mat-form-field class="full-width">
                    
                        <input type="text" placeholder="{{'wbSetting.stopbits' | translate }}" matInput
                            formControlName="stopBits" name="stopBits" [matAutocomplete]="autosecStopBits">
                        <mat-autocomplete #autosecStopBits="matAutocomplete">
                            <mat-option *ngFor="let option of secfilteredStopBitsList | async" [value]="option.key">
                                {{option.value}}
                            </mat-option>
                        </mat-autocomplete>

                        <mat-error *ngIf="secondWeightForm.controls['stopBits'].errors && 
                        secondWeightForm.controls['stopBits'].errors['required'] &&
                        secondWeightForm.controls['stopBits'].touched
                                                                          ">{{'wbSetting.stopbits' | translate }} {{'common.required' | translate
                            }}
                        </mat-error>
                        
                        <mat-error *ngIf="secondWeightForm.controls['stopBits'].errors && 
                        secondWeightForm.controls['stopBits'].errors['invalidData'] &&
                        secondWeightForm.controls['stopBits'].touched
                                                                            ">{{'wbSetting.stopbits' | translate }} {{'common.invalid' |
                            translate }}
                        </mat-error>
                    
                    </mat-form-field>
                </form>
            </mat-card-content>

            <mat-card-actions>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-sm" mat-flat-button color="primary" mat-button type="submit" [disabled]="!secondWeightForm.valid || secbtnSaveSettings">
                        {{'wbSetting.savesetting' | translate }}
                    </button>
                    <button class="btn btn-sm" mat-flat-button color="primary" mat-button type="submit" [disabled]="!secondWeightForm.valid || secbtnApplySettings">
                        {{'wbSetting.applysetting' | translate }}
                    </button>
                </div>     
              
            </mat-card-actions>
          </mat-card>
    </div>
 </div>