<form class="transporter-form" [formGroup]="transporterForm">
    <div class="row mb-2">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>{{staticText.code}}</mat-label>
          <input matInput placeholder="{{staticText.code}}" formControlName="code" name="code" />
          <mat-error *ngIf="transporterForm.controls['code'].errors && 
          transporterForm.controls['code'].errors['required'] &&
          transporterForm.controls['code'].touched
                ">{{staticText.code}} {{staticText.required}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>{{staticText.name}}</mat-label>
          <input matInput placeholder="{{staticText.name}}" formControlName="name" name="name" />
          <mat-error *ngIf="transporterForm.controls['name'].errors && 
          transporterForm.controls['name'].errors['required'] &&
          transporterForm.controls['name'].touched
                ">{{staticText.name}} {{staticText.required}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>{{staticText.contactPerson}}</mat-label>
          <input matInput placeholder="{{staticText.contactPerson}}" formControlName="contactPerson" name="contactPerson" />
          <mat-error *ngIf="transporterForm.controls['contactPerson'].errors &&
          transporterForm.controls['contactPerson'].errors['required'] &&
          transporterForm.controls['contactPerson'].touched
                ">{{staticText.contactPerson}} {{staticText.required}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>{{staticText.mobileNo}}</mat-label>
          <input matInput type="number" pattern="^\d*[0-9]\d*$" placeholder="{{staticText.mobileNo}}"
            formControlName="mobileNo" name="mobileNo" />
          <mat-error *ngIf="transporterForm.controls['mobileNo'].errors &&
          transporterForm.controls['mobileNo'].errors['mobileNo'] &&
          transporterForm.controls['mobileNo'].touched
                ">{{staticText.mobileNo}} {{staticText.required}}
          </mat-error>
          <mat-error *ngIf="transporterForm.controls['mobileNo'].errors &&
          transporterForm.controls['mobileNo'].errors['pattern'] &&
          transporterForm.controls['mobileNo'].touched
                ">Please, Enter 10 digit Mobile Number
          </mat-error>
        </mat-form-field>
      </div>
   
    </div>


    <div class="row mb-2">
        <div class="col">
            <mat-form-field class="full-width">
              <mat-label>{{staticText.phoneNo}}</mat-label>
              <input matInput type="number" pattern="^\d*[0-9]\d*$" placeholder="{{staticText.phoneNo}}"
                formControlName="phoneNo" name="phoneNo" />
              <mat-error *ngIf="transporterForm.controls['phoneNo'].errors &&
              transporterForm.controls['phoneNo'].errors['required'] &&
              transporterForm.controls['phoneNo'].touched
                    ">{{staticText.phoneNo}} {{staticText.required}}
              </mat-error>
             
            </mat-form-field>
          </div>
  
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{staticText.faxNo}}</mat-label>
            <input matInput placeholder="{{staticText.faxNo}}"
              formControlName="faxNo" name="faxNo" />
            <mat-error *ngIf="transporterForm.controls['faxNo'].errors &&
            transporterForm.controls['faxNo'].errors['required'] &&
            transporterForm.controls['faxNo'].touched
                  ">{{staticText.faxNo}} {{staticText.required}}
            </mat-error>
          
          </mat-form-field>
        </div>
     
      </div>

    <div class="row mb-2">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>{{staticText.address}}</mat-label>
          <input matInput placeholder="{{staticText.address}}"
            formControlName="address" name="address" />
          <mat-error *ngIf="transporterForm.controls['address'].errors &&
          transporterForm.controls['address'].errors['required'] &&
          transporterForm.controls['address'].touched
                ">{{staticText.address}} {{staticText.required}}
          </mat-error>
         
        </mat-form-field>
      </div>
     

    </div>

    

    <div class="d-flex justify-content-between w-100">

      <button *ngIf="data.actionName !== 'view'" class="btn btn-sm" mat-flat-button color="primary" type="submit" mat-button (click)="save()">
        {{staticText.save}}
      </button>

      <button class="btn btn-sm btn-link" mat-flat-button type="submit" mat-button (click)="close()">
        {{staticText.cancel}}
      </button>

    </div>
  </form>
