<form class="vehicle-form" [formGroup]="vehicleForm">
  <div class="row mb-2">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Plate Number</mat-label>
        <input matInput placeholder="Plate Number" formControlName="plateNo" name="plateNo" />
        <mat-error *ngIf="vehicleForm.controls['plateNo'].errors && 
          vehicleForm.controls['plateNo'].errors['required'] &&
          vehicleForm.controls['plateNo'].touched
                ">Plate Number is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Type</mat-label>
        <input matInput placeholder="Type" formControlName="type" name="type" />
        <mat-error *ngIf="vehicleForm.controls['type'].errors && 
          vehicleForm.controls['type'].errors['required'] &&
          vehicleForm.controls['type'].touched
                ">Type is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
   
      <mat-form-field appearance="fill">
        <mat-label>Transporter Code</mat-label>
        <mat-select formControlName="transporterCode" required (selectionChange)="OnSelectionChange($event)">
          <mat-option *ngFor="let item of transPortersList" [value]="item.transporterCode">
            {{item.transporterCode}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="vehicleForm.controls['transporterCode'].errors &&
          vehicleForm.controls['transporterCode'].errors['required'] &&
          vehicleForm.controls['transporterCode'].touched
                ">Transporter Code is required
        </mat-error>
        <mat-hint>You can pick up your Transporter Code here</mat-hint>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Transporter Name</mat-label>
        <input matInput placeholder="Transporter Name" formControlName="transporterName" name="transporterName"  readonly/>
        <mat-error *ngIf="vehicleForm.controls['transporterName'].errors &&
          vehicleForm.controls['transporterName'].errors['required'] &&
          vehicleForm.controls['transporterName'].touched
                ">Transporter Name is required
        </mat-error>
      </mat-form-field>
    </div>

  </div>


  <div class="d-flex justify-content-between w-100">

    <button *ngIf="data.actionName !== 'view'" class="btn btn-sm" mat-flat-button color="primary" type="submit"
      mat-button (click)="save()">
      Save
    </button>

    <button class="btn btn-sm btn-link" mat-flat-button type="submit" mat-button (click)="close()">
      Cancel
    </button>

  </div>
</form>