<div class="list-table">

    <div class="row">

        <div class="col-lg-1 col-md-2 mt-4">
            <button mat-flat-button color="primary" type="submit" class="btn btn-md" mat-button
                (click)="selectedRecord(null,'add')" matTooltip="{{staticText.add}}">
                <mat-icon>add</mat-icon>{{'common.addnew' | translate }}
            </button>
        </div>
        
        <div class="col-lg-3 col-md-4 mt-1">
                <mat-form-field appearance="standard">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker" [formGroup]="rangeGroup" >
                        <input matStartDate formControlName="fromDate" placeholder="Start date"  #dateRangeStart>
                        <input matEndDate formControlName="toDate" placeholder="End date" #dateRangeEnd
                        (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
        </div>
                
        <div class="col-lg-8 col-md-6 mt-3">
            <mat-form-field>
                <mat-label>{{'common.filter' | translate }}</mat-label>
                <input matInput (keyup)="applyFilter($event)" [formControl]="searchControl" [placeholder]="placeholderText"
                    #input autocomplete="off" />
            </mat-form-field>
        </div>
    </div>


    <div class="table-responsive">
        <div class="example-container mat-elevation-z8">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                <ng-container *ngFor="let column of displayedColumns ; trackBy:trackByFn" [matColumnDef]="column">

                    <ng-container *ngIf ="componentName === 'transactions'">
                        <ng-container *ngIf="column ==='Actions'">
                            <th mat-header-cell *matHeaderCellDef class="action-column">
                                {{getTableHeader(column)}}
                            </th>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="column !=='Actions'">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header-column">
                            {{getTableHeader(column)}}
                        </th>
                    </ng-container>

                    <ng-container *ngIf ="componentName !== 'transactions'">
                        <ng-container *ngIf="column ==='Actions'">
                            <th mat-header-cell *matHeaderCellDef class="action-column">
                                {{getTableHeader(column)}}
                            </th>
                        </ng-container>

                    </ng-container>
                   

                    <td mat-cell *matCellDef="let row">
                        <ng-container *ngIf ="componentName === 'transactions'">
                            <span *ngIf="column ==='Actions'" class="d-flex justify-content-between">
                                <button mat-icon-button matTooltip="{{staticText.edit}}" class="iconbutton" color="primary" (click)="selectedRecord(row,'edit')">
                                    <mat-icon aria-label="Edit">edit</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="{{staticText.view}}" class="iconbutton" color="primary" (click)="selectedRecord(row,'view')">
                                    <mat-icon aria-label="visibility">visibility</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="{{staticText.delete}}" class="iconbutton" color="primary" (click)="selectedRecord(row,'delete')">
                                    <mat-icon aria-label="Delete">delete</mat-icon>
                                </button>
                            </span>
                        </ng-container>
                        <span *ngIf="column !=='Actions'">{{row[column]}}</span>
                        <ng-container *ngIf ="componentName !== 'transactions'">
                            <span *ngIf="column ==='Actions'" class="d-flex justify-content-between">
                                <button mat-icon-button matTooltip="{{staticText.edit}}" class="iconbutton" color="primary" (click)="selectedRecord(row,'edit')">
                                    <mat-icon aria-label="Edit">edit</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="{{staticText.view}}" class="iconbutton" color="primary" (click)="selectedRecord(row,'view')">
                                    <mat-icon aria-label="visibility">visibility</mat-icon>
                                </button>
                                <button mat-icon-button matTooltip="{{staticText.delete}}" class="iconbutton" color="primary" (click)="selectedRecord(row,'delete')">
                                    <mat-icon aria-label="Delete">delete</mat-icon>
                                </button>
                            </span>
                        </ng-container>
                      
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>


    </div>

    <mat-paginator  [pageSize] ="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" >

    </mat-paginator>

</div>