.list-table {

  .example-container {
    height: calc( 80vh - 8rem);
    overflow: auto;
  }
 
    table {
        width: 100%;
      }
      
      th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
        padding-left: 2px;
    }

    .action-column {
      color:#3A3A4A;
      font-size: .9rem;
      width: 10rem;
    }

    .mat-cell, .mat-footer-cell {
      font-size: .9rem;
  }

  
}