.entryData-form {
  
    .clsLbl{
        padding-top: .5rem;
        font-size: 1.2rem;
    }

    .form-col {
        
        .lbl-text {
            padding-top: calc(1.1rem + 1px);
            font-size: .875rem;
        }

        .selected-text {
            padding-top: calc(1.1rem + 1px);
            font-size: 1rem;
        }
    }    
}

  