<form class="entryData-form" [formGroup]="entryForm">
    <div class="row mb-2">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Code</mat-label>
          <input matInput placeholder="Transporter Code" formControlName="code" name="code" />
          <mat-error *ngIf="entryForm.controls['code'].errors && 
          entryForm.controls['code'].errors['required'] &&
          entryForm.controls['code'].touched
                ">Transporter Code is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" name="name" />
          <mat-error *ngIf="entryForm.controls['name'].errors && 
          entryForm.controls['name'].errors['required'] &&
          entryForm.controls['name'].touched
                ">Name is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Contact Person</mat-label>
          <input matInput placeholder="Contact Person" formControlName="contactPerson" name="contactPerson" />
          <mat-error *ngIf="entryForm.controls['contactPerson'].errors &&
          entryForm.controls['contactPerson'].errors['required'] &&
          entryForm.controls['contactPerson'].touched
                ">Contact Person is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Mobile No</mat-label>
          <input matInput type="number" pattern="^\d*[0-9]\d*$" placeholder="Mobile No"
            formControlName="mobileNo" name="mobileNo" />
          <mat-error *ngIf="entryForm.controls['mobileNo'].errors &&
          entryForm.controls['mobileNo'].errors['mobileNo'] &&
          entryForm.controls['mobileNo'].touched
                ">Mobile No is required
          </mat-error>
          <mat-error *ngIf="entryForm.controls['mobileNo'].errors &&
          entryForm.controls['mobileNo'].errors['pattern'] &&
          entryForm.controls['mobileNo'].touched
                ">Please, Enter 10 digit Mobile Number
          </mat-error>
        </mat-form-field>
      </div>
   
    </div>


    <div class="row mb-2">
        <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Phone No</mat-label>
              <input matInput type="number" pattern="^\d*[0-9]\d*$" placeholder="Phone No"
                formControlName="phoneNo" name="phoneNo" />
              <mat-error *ngIf="entryForm.controls['phoneNo'].errors &&
              entryForm.controls['phoneNo'].errors['required'] &&
              entryForm.controls['phoneNo'].touched
                    ">Phone No is required
              </mat-error>
             
            </mat-form-field>
          </div>
  
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Fax No</mat-label>
            <input matInput   placeholder="Fax No"
              formControlName="faxNo" name="faxNo" />
            <mat-error *ngIf="entryForm.controls['faxNo'].errors &&
            entryForm.controls['faxNo'].errors['required'] &&
            entryForm.controls['faxNo'].touched
                  ">Fax No is required
            </mat-error>
          
          </mat-form-field>
        </div>
     
      </div>

    <div class="row mb-2">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>Address</mat-label>
          <input matInput placeholder="Address"
            formControlName="address" name="address" />
          <mat-error *ngIf="entryForm.controls['address'].errors &&
          entryForm.controls['address'].errors['required'] &&
          entryForm.controls['address'].touched
                ">Phone No is required
          </mat-error>
         
        </mat-form-field>
      </div>
     

    </div>

    

    <div class="d-flex justify-content-between w-100">

      <button *ngIf="data.actionName !== 'view'" class="btn btn-sm" mat-flat-button color="primary" type="submit" mat-button (click)="save()">
        Save
      </button>

      <button class="btn btn-sm btn-link" mat-flat-button type="submit" mat-button (click)="close()">
        Cancel
      </button>

    </div>
  </form>
