<form class="user-form" [formGroup]="signupForm">
 
  <div class="row mb-2">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{staticText.username}}</mat-label>
        <input matInput placeholder="{{staticText.username}}" formControlName="username" name="username" />
        <mat-error *ngIf="signupForm.controls['username'].errors?.['required'] &&
                signupForm.controls['username'].touched">{{staticText.username}} {{staticText.required}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{staticText.email}}</mat-label>
        <input matInput placeholder="{{staticText.email}}" formControlName="email" name="email"
          pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" />
        <mat-error *ngIf="signupForm.controls['email'].errors?.['required']  &&
                signupForm.controls['email'].touched">{{staticText.email}} {{staticText.required}}
        </mat-error>
        <mat-error *ngIf="signupForm.controls['email'].errors?.['pattern'] &&
              signupForm.controls['email'].touched">{{staticText.emailerror}}
        </mat-error>

      </mat-form-field>
    </div>
 
  </div>

  <div class="row mb-2" *ngIf="data.actionName === 'edit'">
    <div class="col">
      <section class="example-section">
        <mat-checkbox formControlName="needPassword" name="needPassword" (change)="onChange($event)">{{staticText.updatepassword}}</mat-checkbox>
      </section>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{staticText.password}}</mat-label>
        <input matInput type="password" formControlName="password" placeholder="{{staticText.password}}"
          name="password" />
        <mat-error *ngIf="signupForm.controls['password'].errors?.['required']  &&
                signupForm.controls['password'].touched">{{staticText.password}} {{staticText.required}}
        </mat-error>
        <mat-error *ngIf="signupForm.controls['password'].errors?.['minlength'] &&
              signupForm.controls['password'].touched">{{staticText.pwdminerror}}
        </mat-error>
        <mat-error *ngIf="signupForm.controls['password'].errors?.['maxlength'] &&
              signupForm.controls['password'].touched">{{staticText.pwdmaxerror}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>{{staticText.confirmpassword}}</mat-label>
        <input matInput type="password" formControlName="confirmPassword" placeholder="{{staticText.confirmpassword}}"
          name="confirmPassword" />
        <mat-error *ngIf="signupForm.controls['confirmPassword'].errors?.['required']  &&
                signupForm.controls['confirmPassword'].touched">{{staticText.confirmpassword}} {{staticText.required}}
        </mat-error>
        <mat-error *ngIf="signupForm.controls['confirmPassword'].errors?.['mustMatch'] &&
                signupForm.controls['confirmPassword'].touched">{{staticText.pwdmatch}}
        </mat-error>

      </mat-form-field>
    </div>
  </div>

  
  <div class="row mb-2">              

    <div class="col">
      <mat-form-field class="full-width" appearance="fill" >
        <mat-label>{{staticText.role}}</mat-label>
        <mat-select name="role" placeholder="{{staticText.role}}" [(value)]="selectedRole">
          <mat-option *ngFor="let role of userRoles trackBy:trackByFn;" [value]="role.key">
            {{role.key}}
          </mat-option>
        </mat-select>       
      </mat-form-field>
    </div>
  </div> 

 

  <div class="d-flex justify-content-between w-100">

    <button *ngIf="data.actionName !== 'view'" class="btn btn-sm" mat-flat-button color="primary" type="submit"
      mat-button (click)="save()">
      {{staticText.save}}
    </button>

    <button class="btn btn-sm btn-link" mat-flat-button type="submit" mat-button (click)="close()">
      {{staticText.cancel}}
    </button>

  </div>
</form>