<form class="exitData-form" [formGroup]="exitForm">

  <div class="classscroll" cdkScrollable>

    <div class="row">

      <div class="col-sm-6">    
    
        <div class="row form-col">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.loginusername' | translate }}"
                formControlName="loginUserName" name="loginUserName" />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.role' | translate }}" formControlName="role"
                name="role" />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input [readonly]="true" matInput placeholder="{{'transactions.data.exit.dateout' | translate }}"
                formControlName="dateOut" name="dateOut">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input [readonly]="true" matInput placeholder="{{'transactions.data.exit.timeout' | translate }}"
                formControlName="timeOut" name="timeOut">
            </mat-form-field>
          </div>
        </div>
        
        <div class="row form-col">
          <div class="col">
            <mat-form-field class="full-width">
              <input [readonly]="true" matInput placeholder="{{'transactions.data.entry.sequenceno' | translate }}"
                formControlName="sequenceNo" name="sequenceNo" />
    
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.secondweight' | translate }}"
                formControlName="secondWeight" name="secondWeight" />
              <mat-error *ngIf="exitForm.controls['secondWeight'].errors &&
              exitForm.controls['secondWeight'].errors['required'] &&
              exitForm.controls['secondWeight'].touched
                    ">{{'transactions.data.exit.secondweight' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
        </div>
    
        <div class="row form-col">
    
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.deductweight' | translate }}"
                formControlName="deductWeight" name="deductWeight" />
              <mat-error *ngIf="exitForm.controls['deductWeight'].errors &&
              exitForm.controls['deductWeight'].errors['required'] &&
              exitForm.controls['deductWeight'].touched
                    ">{{'transactions.data.exit.deductweight' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.netweight' | translate }}" formControlName="netWeight"
                name="netWeight" />
              <mat-error *ngIf="exitForm.controls['netWeight'].errors &&
              exitForm.controls['netWeight'].errors['required'] &&
              exitForm.controls['netWeight'].touched
                    ">{{'transactions.data.exit.netweight' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
        </div>
    
        <div class="row form-col">
    
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.price' | translate }}" formControlName="priceTons"
                name="priceTons" />
              <mat-error *ngIf="exitForm.controls['priceTons'].errors &&
              exitForm.controls['priceTons'].errors['required'] &&
              exitForm.controls['priceTons'].touched
                    ">{{'transactions.data.exit.price' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.totalprice' | translate }}"
                formControlName="totalPrice" name="totalPrice" />
              <mat-error *ngIf="exitForm.controls['totalPrice'].errors &&
              exitForm.controls['totalPrice'].errors['required'] &&
              exitForm.controls['totalPrice'].touched
                    ">{{'transactions.data.exit.totalprice' | translate }} {{'common.required' | translate }}
              </mat-error>
    
              <mat-error *ngIf="exitForm.controls['totalPrice'].errors &&
              exitForm.controls['totalPrice'].errors['invalidNumberFormat'] &&
              exitForm.controls['totalPrice'].touched
                    "> {{'transactions.data.exit.totalprice' | translate }} {{'common.invalid' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
        </div>
    
        <div class="row form-col">
    
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.deliverynote' | translate }}"
                formControlName="deliveryNoteNo" name="deliveryNoteNo" />
              <mat-error *ngIf="exitForm.controls['deliveryNoteNo'].errors &&
              exitForm.controls['deliveryNoteNo'].errors['required'] &&
              exitForm.controls['deliveryNoteNo'].touched
                    ">{{'transactions.data.exit.deliverynote' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.orderno' | translate }}" formControlName="orderNo"
                name="orderNo" />
              <mat-error *ngIf="exitForm.controls['orderNo'].errors &&
              exitForm.controls['orderNo'].errors['required'] &&
              exitForm.controls['orderNo'].touched
                    ">{{'transactions.data.exit.orderno' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
        </div>
    
        <div class="row mb-1 form-col">
    
          <ng-container *ngFor="let item of keyValueData ;let index = index; last as isLast; trackBy:trackByFn">
    
            <div class="row form-col">
    
              <div class="col">
                <mat-form-field class="full-width">
                  <mat-label>{{'transactions.data.exit.key' | translate }}</mat-label>
                  <input [(ngModel)]="item.key" matInput name=key{{index}} [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
    
              <div class="col">
                <mat-form-field class="full-width">
                  <mat-label>{{'transactions.data.exit.value' | translate }}</mat-label>
                  <input [(ngModel)]="item.value" matInput name=Value{{index}} [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>
    
              <div class="col d-print-none" *ngIf="isLast">
                <button class="btn btn-sm" mat-flat-button color="primary" type="button" mat-button
                  (click)="addKeyValues($event)">
                  {{'transactions.data.exit.addkeyvalues' | translate }}
                </button>
              </div>
    
            </div>
          </ng-container>
    
        </div>
    
        <div class="row mb-1 form-col" *ngIf="emptyKeyValue">
          <mat-error>
            {{'transactions.data.exit.emptykeyvalue' | translate }}
          </mat-error>
        </div>    
    
        <div class="row form-col">
    
          <div class="col">
            <mat-form-field class="full-width" appearance="outline">
              <textarea matInput placeholder="{{'transactions.data.exit.instructions' | translate }}"
                formControlName="instructions" name="instructions"></textarea>
              <mat-error *ngIf="exitForm.controls['instructions'].errors &&
              exitForm.controls['instructions'].errors['required'] &&
              exitForm.controls['instructions'].touched
                    ">{{'transactions.data.exit.instructions' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
        </div>
    
      </div>
       
      <div class="col-sm-6">

        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-between">
              <button class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="capture(1)">
                Snap CAM1
              </button>
              <button [hidden]="hideSnap1" class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="clearsnap(1)">
                Clear Snap1
              </button>
            </div>

            <div class="d-flex justify-content-between">
              <video class="snap" controls #video1></video>
              <img #snap1 class="snap" alt="snap1" [hidden]="hideSnap1" />
            </div>
            
          </div>
        </div>

        <div class="row">

          <div class="col">

            <div class="d-flex justify-content-between">
              <button class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="capture(2)">
                Snap CAM2
              </button>
              <button [hidden]="hideSnap2" class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="clearsnap(2)">
                Clear Snap2
              </button>
            </div>

            <div class="d-flex justify-content-between ">
              <video class="snap" controls #video2></video>
              <img #snap2 class="snap" alt="snap2" [hidden]="hideSnap2" />
            </div>
            
          </div>

        </div>

        <div class="row">

          <div class="col">

            <div class="d-flex justify-content-between">
              <button class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="capture(3)">
                Snap CAM3
              </button>
              <button [hidden]="hideSnap3" class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="clearsnap(3)">
                Clear Snap3
              </button>
            </div>

            <div class="d-flex justify-content-between ">
              <video class="snap" controls #video3></video>
              <img #snap3 class="snap" alt="snap3" [hidden]="hideSnap3" />
            </div>
            
          </div>

        </div>

        <div class="row">

          <div class="col">

            <div class="d-flex justify-content-between">
              <button class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="capture(4)">
                Snap CAM4
              </button>
              <button [hidden]="hideSnap4" class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="clearsnap(4)">
                Clear Snap4
              </button>
            </div>

            <div class="d-flex justify-content-between ">
              <video class="snap" controls #video4></video>
              <img #snap4 class="snap" alt="snap4" [hidden]="hideSnap4" />
            </div>
            
          </div>

        </div>
  
      </div>
      
    </div>
  
  </div>


  <div class="d-flex justify-content-between w-100 d-print-none">  

    <button class="btn btn-sm" mat-flat-button color="primary" mat-button (click)="printLayout()">
      {{'actions.print' | translate }}
    </button>

    <button class="btn btn-sm"  [disabled]="!exitForm.valid" mat-flat-button color="primary" type="submit" mat-button (click)="save()">
      {{'actions.save' | translate }}
    </button>
    <button class="btn btn-sm btn-link" mat-flat-button  mat-button (click)="cancel()">
      {{'actions.cancel' | translate }}
    </button>
  </div>
</form>