<form class="exitData-form" [formGroup]="exitForm">

  <div class="d-flex justify-content-between mb-3">
    <h2>{{'transactions.data.exit.header' | translate }}</h2>

    <button class="btn btn-sm d-print-none" mat-flat-button color="primary" mat-button (click)="printLayout()" type="button">
      {{'actions.print' | translate }}
    </button>
  </div>

  <div [ngClass]="{'classscroll': !isPrintActive }" cdkScrollable>

    <div class="row">

      <div class="col-sm-6 border-right">    
    
        <div class="row form-col">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.loginusername' | translate }}"
                formControlName="loginUserName" name="loginUserName" />
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.role' | translate }}" formControlName="role"
                name="role" />
            </mat-form-field>
          </div>
        </div>

        <div class="row form-col">          
          <div class="col">
            <mat-form-field class="full-width">
              <input [readonly]="true" matInput placeholder="{{'transactions.data.exit.dateout' | translate }}"
                formControlName="dateOut" name="dateOut">
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input [readonly]="true" matInput placeholder="{{'transactions.data.exit.timeout' | translate }}"
                formControlName="timeOut" name="timeOut">
            </mat-form-field>
          </div>
        </div>
        
        <div class="row form-col">
          <div class="col">
            <mat-form-field class="full-width">
              <input [readonly]="true" matInput placeholder="{{'transactions.data.entry.sequenceno' | translate }}"
                formControlName="sequenceNo" name="sequenceNo" />
    
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.secondweight' | translate }}"
                formControlName="secondWeight" name="secondWeight" />
              <mat-error *ngIf="exitForm.controls['secondWeight'].errors &&
              exitForm.controls['secondWeight'].errors['required'] &&
              exitForm.controls['secondWeight'].touched
                    ">{{'transactions.data.exit.secondweight' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
        </div>
    
        <div class="row form-col">
    
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.deductweight' | translate }}"
                formControlName="deductWeight" name="deductWeight" />
              <mat-error *ngIf="exitForm.controls['deductWeight'].errors &&
              exitForm.controls['deductWeight'].errors['required'] &&
              exitForm.controls['deductWeight'].touched
                    ">{{'transactions.data.exit.deductweight' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.netweight' | translate }}" formControlName="netWeight"
                name="netWeight" />
              <mat-error *ngIf="exitForm.controls['netWeight'].errors &&
              exitForm.controls['netWeight'].errors['required'] &&
              exitForm.controls['netWeight'].touched
                    ">{{'transactions.data.exit.netweight' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
        </div>
    
        <div class="row form-col">
    
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.price' | translate }}" formControlName="priceTons"
                name="priceTons" />
              <mat-error *ngIf="exitForm.controls['priceTons'].errors &&
              exitForm.controls['priceTons'].errors['required'] &&
              exitForm.controls['priceTons'].touched
                    ">{{'transactions.data.exit.price' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.totalprice' | translate }}"
                formControlName="totalPrice" name="totalPrice" />
              <mat-error *ngIf="exitForm.controls['totalPrice'].errors &&
              exitForm.controls['totalPrice'].errors['required'] &&
              exitForm.controls['totalPrice'].touched
                    ">{{'transactions.data.exit.totalprice' | translate }} {{'common.required' | translate }}
              </mat-error>
    
              <mat-error *ngIf="exitForm.controls['totalPrice'].errors &&
              exitForm.controls['totalPrice'].errors['invalidNumberFormat'] &&
              exitForm.controls['totalPrice'].touched
                    "> {{'transactions.data.exit.totalprice' | translate }} {{'common.invalid' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
        </div>
    
        <div class="row form-col">
    
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.deliverynote' | translate }}"
                formControlName="deliveryNoteNo" name="deliveryNoteNo" />
              <mat-error *ngIf="exitForm.controls['deliveryNoteNo'].errors &&
              exitForm.controls['deliveryNoteNo'].errors['required'] &&
              exitForm.controls['deliveryNoteNo'].touched
                    ">{{'transactions.data.exit.deliverynote' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="{{'transactions.data.exit.orderno' | translate }}" formControlName="orderNo"
                name="orderNo" />
              <mat-error *ngIf="exitForm.controls['orderNo'].errors &&
              exitForm.controls['orderNo'].errors['required'] &&
              exitForm.controls['orderNo'].touched
                    ">{{'transactions.data.exit.orderno' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
        </div>
    
        <div class="row mb-1 form-col">
    
          <ng-container *ngFor="let item of keyValueData ;let index = index; last as isLast; trackBy:trackByFn">
    
            <div class="row form-col">
    
              <div class="col">
                <mat-form-field class="full-width">
                  <mat-label>{{'transactions.data.exit.key' | translate }}</mat-label>
                  <input [(ngModel)]="item.name" matInput name=key{{index}} [ngModelOptions]="{standalone: true}">
                </mat-form-field>
              </div>

              <div class="col keyvaluemain">
                <mat-form-field class="full-width" style="width:93%">
                  <mat-label>{{'transactions.data.exit.value' | translate }}</mat-label>
                  <input [(ngModel)]="item.value" matInput name=Value{{index}} [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <span class="d-print-none keyvalueadd" *ngIf="isLast">                 
                  <a class="btn btn-sm btn-outline-primary action-btn d-print-none" role="button"
                  aria-pressed="true" (click)="addKeyValues($event)">
                  <mat-icon class="icon-line-height"
                    matTooltip="{{'transactions.data.exit.addkeyvalues' | translate }}">add</mat-icon>
                </a>
                </span>
              </div>                              
    
            </div>
          </ng-container>
    
        </div>
    
        <div class="row mb-1 form-col" *ngIf="emptyKeyValue">
          <mat-error>
            {{'transactions.data.exit.emptykeyvalue' | translate }}
          </mat-error>
        </div>    
    
        <div class="row form-col">
    
          <div class="col">
            <mat-form-field class="full-width" appearance="outline">
              <textarea matInput placeholder="{{'transactions.data.exit.instructions' | translate }}"
                formControlName="instructions" name="instructions"></textarea>
              <mat-error *ngIf="exitForm.controls['instructions'].errors &&
              exitForm.controls['instructions'].errors['required'] &&
              exitForm.controls['instructions'].touched
                    ">{{'transactions.data.exit.instructions' | translate }} {{'common.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
    
        </div>
    
      </div>
       
      <div class="col-sm-6 d-print-none">

        <div class="row">
          <div class="col">
            <div class="d-flex justify-content-between">
              <button class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="capture(5)">
                Snap CAM1
              </button>
              <button [hidden]="hideSnap5" class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="clearsnap(5)">
                Clear Snap1
              </button>
            </div>

            <div class="d-flex justify-content-between">
              <video class="snap" controls #video5></video>
              <img #snap5 class="snap" alt="snap5" [hidden]="hideSnap5" />
            </div>
            
          </div>
        </div>

        <div class="row">

          <div class="col">

            <div class="d-flex justify-content-between">
              <button class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="capture(6)">
                Snap CAM2
              </button>
              <button [hidden]="hideSnap6" class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="clearsnap(6)">
                Clear Snap2
              </button>
            </div>

            <div class="d-flex justify-content-between ">
              <video class="snap" controls #video6></video>
              <img #snap6 class="snap" alt="snap6" [hidden]="hideSnap6" />
            </div>
            
          </div>

        </div>

        <div class="row">

          <div class="col">

            <div class="d-flex justify-content-between">
              <button class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="capture(7)">
                Snap CAM3
              </button>
              <button [hidden]="hideSnap7" class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="clearsnap(7)">
                Clear Snap3
              </button>
            </div>

            <div class="d-flex justify-content-between ">
              <video class="snap" controls #video7></video>
              <img #snap7 class="snap" alt="snap3" [hidden]="hideSnap7" />
            </div>
            
          </div>

        </div>

        <div class="row">

          <div class="col">

            <div class="d-flex justify-content-between">
              <button class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="capture(8)">
                Snap CAM4
              </button>
              <button [hidden]="hideSnap8" class="btn btn-sm snapbutton" mat-flat-button color="primary" mat-button (click)="clearsnap(8)">
                Clear Snap4
              </button>
            </div>

            <div class="d-flex justify-content-between ">
              <video class="snap" controls #video8></video>
              <img #snap8 class="snap" alt="snap4" [hidden]="hideSnap8" />
            </div>
            
          </div>

        </div>
  
      </div>
      
    </div>
  
  </div>


  <div class="mb-1 d-flex justify-content-between w-50 d-print-none">  

    

    <button class="btn btn-sm"  [disabled]="!exitForm.valid" mat-flat-button color="primary" type="submit" mat-button (click)="save()">
      {{'actions.save' | translate }}
    </button>

    <button class="btn btn-sm btn-link" mat-flat-button type="button" mat-button (click)="reset()">
      {{'actions.reset' | translate }}
    </button>

    <button class="btn btn-sm btn-link" mat-flat-button  mat-button (click)="cancel()">
      {{'actions.cancel' | translate }}
    </button>
  </div>
</form>