@import 'styles.scss';

.exitData-form {

    .form-col {
        
        .lbl-text {
            padding-top: calc(1.1rem + 1px);
            font-size: .875rem;
        }

        .selected-text {
            padding-top: calc(1.1rem + 1px);
            font-size: 1rem;
        }
    }

    @media print {
        ::ng-deep.mat-select-arrow {
            display: none;
        }

        textarea {
            resize: none;
        }        
    }

    .classscroll {
        height: calc(90vh - 15rem);
        overflow: hidden;
        overflow-y: auto;
        margin-bottom: 0.5rem;

        @include media-breakpoint-up(md){
            height: calc(89vh - 15rem);
        }
        
        @include media-breakpoint-down(sm) {
            height: calc(89vh - 15rem);
            padding: 0 5px;
            margin-bottom: 1rem;
        }

        @include scrollbars();
    }

    .snap {        
        height: 150px;        
        border: 1px solid #3f51b5;
        margin-inline: .5rem;
        width: 50%;
    }
   
    .snapbutton {
        margin: 5px;
        line-height: 30px;
        padding: 0 12px;    
    }

    .icon-line-height {
        line-height: 1.2rem;
    }

    .action-btn {
        height: 30px;
    }

    .keyvaluemain {
        padding-right: .125rem;
    }
    .keyvalueadd {
        width:6%; 
        display: inline-block;
    }
}
  