<form class="supplier-form" [formGroup]="form">
    <div class="row mb-2">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>{{staticText.supplierCode}}</mat-label>
          <input matInput placeholder="{{staticText.supplierCode}}" formControlName="supplierCode" name="supplierCode" />
          <mat-error *ngIf="form.controls['supplierCode'].errors && 
          form.controls['supplierCode'].errors['required'] &&
          form.controls['supplierCode'].touched
                ">{{staticText.supplierCode}} {{staticText.required}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>{{staticText.supplierName}}</mat-label>
          <input matInput placeholder="{{staticText.supplierCode}}" formControlName="supplierName" name="supplierName" />
          <mat-error *ngIf="form.controls['supplierName'].errors && 
          form.controls['supplierName'].errors['required'] &&
          form.controls['supplierName'].touched
                ">{{staticText.supplierName}} {{staticText.required}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>{{staticText.contactPerson}}</mat-label>
          <input matInput placeholder="{{staticText.contactPerson}}" formControlName="contactPerson" name="contactPerson" />
          <mat-error *ngIf="form.controls['contactPerson'].errors &&
          form.controls['contactPerson'].errors['required'] &&
          form.controls['contactPerson'].touched
                ">{{staticText.contactPerson}} {{staticText.required}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>{{staticText.mobileNo}}</mat-label>
          <input matInput type="number" pattern="^\d*[0-9]\d*$" placeholder="{{staticText.mobileNo}}"
            formControlName="mobileNo" name="mobileNo" />
          <mat-error *ngIf="form.controls['mobileNo'].errors &&
          form.controls['mobileNo'].errors['mobileNo'] &&
          form.controls['mobileNo'].touched
                ">{{staticText.mobileNo}} {{staticText.required}}
          </mat-error>
          <mat-error *ngIf="form.controls['mobileNo'].errors &&
          form.controls['mobileNo'].errors['pattern'] &&
          form.controls['mobileNo'].touched
                ">Please, Enter 10 digit Mobile Number
          </mat-error>
        </mat-form-field>
      </div>
   
    </div>


    <div class="row mb-2">
        <div class="col">
            <mat-form-field class="full-width">
              <mat-label>{{staticText.telephoneNo}}</mat-label>
              <input matInput type="number" pattern="^\d*[0-9]\d*$" placeholder="{{staticText.telephoneNo}}"
                formControlName="telephoneNo" name="telephoneNo" />
              <mat-error *ngIf="form.controls['telephoneNo'].errors &&
              form.controls['telephoneNo'].errors['required'] &&
              form.controls['telephoneNo'].touched
                    ">{{staticText.telephoneNo}} {{staticText.required}}
              </mat-error>
             
            </mat-form-field>
          </div>
  
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{staticText.faxNo}}</mat-label>
            <input matInput   placeholder="{{staticText.faxNo}}"
              formControlName="faxNo" name="faxNo" />
            <mat-error *ngIf="form.controls['faxNo'].errors &&
            form.controls['faxNo'].errors['required'] &&
            form.controls['faxNo'].touched
                  ">{{staticText.faxNo}} {{staticText.required}}
            </mat-error>
          
          </mat-form-field>
        </div>
     
      </div>

    <div class="row mb-2">
      <div class="col">
        <mat-form-field class="full-width">
          <mat-label>{{staticText.address}}</mat-label>
          <input matInput placeholder="{{staticText.address}}"
            formControlName="address" name="address" />
          <mat-error *ngIf="form.controls['address'].errors &&
          form.controls['address'].errors['required'] &&
          form.controls['address'].touched
                ">{{staticText.address}} {{staticText.required}}
          </mat-error>
         
        </mat-form-field>
      </div>
     

    </div>

    

    <div class="d-flex justify-content-between w-100">

      <button *ngIf="data.actionName !== 'view'" class="btn btn-sm" mat-flat-button color="primary" type="submit" mat-button (click)="save()">
        {{staticText.save}}
      </button>

      <button class="btn btn-sm btn-link" mat-flat-button type="submit" mat-button (click)="close()">
        {{staticText.cancel}}
      </button>

    </div>
  </form>
