<div id="mainContainer" class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark d-print-none">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="#!">{{'dashboard.title' | translate }}</a>

        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="material-icons align-bottom">menu</i>
        </button>

        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4 d-print-none">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="material-icons align-bottom">person</i></a>
                <ul class="dropdown-menu dropdown-menu-end mt-2" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" (click)="viewProfile()"><span
                                class="material-icons mr-2 valign-sub text-gray-400">
                                person
                            </span>{{'dashboard.rightsideMenu.profile' | translate}}</a></li>
                    <li><a class="dropdown-item" (click)="changePassword()">
                            <span class="material-icons mr-2 valign-sub text-gray-400">
                                key
                            </span>{{'dashboard.rightsideMenu.changepassword' | translate}}
                        </a></li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li><a class="dropdown-item" (click)="logout()"><span
                                class="material-icons mr-2 valign-sub text-gray-400">
                                logout
                            </span>{{'dashboard.rightsideMenu.logout' | translate}}</a></li>
                </ul>
            </li>

        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark d-print-none" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">                     

                        <div *ngFor="let item of NavMenu; trackBy:trackByFn">

                            <a class="nav-link" (click)="navigateToRoute(item)"
                                [class.is-active-route]="isActive(item.routePath)">
                                <div class="sb-nav-link-icon me-2">
                                    <i *ngIf="!item.menuIcon" class="fas fa-table"></i>
                                    <i *ngIf="item.menuIcon"
                                        class="material-icons maticon-size valign-sub">{{item.menuIcon}}</i>
                                </div>
                               {{'navleftmenuitemslist.'+ item.menuName | translate }}
                            </a>
                        </div>
                    </div>
                </div>

            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-1">
                    <div class="d-flex justify-content-center" *ngIf="selectedMenu">
                        <h2 class="mb-3"> {{'navleftmenuitemslist.'+ selectedMenu | translate }}</h2>
                    </div>

                    <router-outlet></router-outlet>

                </div>
            </main>
            <footer class="py-4 bg-light mt-auto d-print-none footer">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted text-center">{{ 'dashboard.copyright' | translate }} &copy; {{ currentYear }}</div>
                        <div>
                            <a href="#">{{ 'dashboard.privacypolicy' | translate }}</a>
                            &middot;
                            <a href="#">{{ 'dashboard.termcondition' | translate }}</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>