<div class="weightBridge-form d-print-none">

  <div class="row" *ngIf="isFirstScreen">

    <div *ngFor="let item of firstWeightdevicesList; trackBy:trackByFn;" class="col-md-3 col-sm-6">
    
      <div class="text-muted weight-name">{{item.name }}</div>
    
      <div class="action-container">


        <div class="circle" (click)="weightChangeEvent(item)" [attr.title]="'transactions.Weighbridge.firstweight' | translate">
          <div class="triangle-right"></div>
        </div>
    
        <div class="rectangle rounded-pill" [ngClass]="{'disconnected':!item.connectStatus}">
          <div *ngIf="item.connectStatus">
            {{item.weight}}
          </div>
        </div>      
    
      </div>
    
    </div>
    
    </div>


    <div class="row" *ngIf="!isFirstScreen">

        <div *ngFor="let item of secondWeightdevicesList; trackBy:trackByFn;" class="col-md-3 col-sm-6">
    
          <div class="text-muted fs-6 text-center fw-light">{{item.name }}</div>
        
          <div class="action-container">

            <div class="circle" (click)="weightChangeEvent(item)" [attr.title]="'transactions.Weighbridge.secondweight' | translate">
              <div class="triangle-right"></div>
            </div>
        
            <div class="rectangle rounded-pill" [ngClass]="{'disconnected':!item.connectStatus}">
              <div *ngIf="item.connectStatus">
                {{item.weight}}
              </div>
            </div>        
            
        
          </div>
        
        </div>
  
      </div>


</div>