<div class="weightBridge-form d-print-none">

  <div class="row form-col">
    <div class="col-lg-2 col-md-5 col-sm-6 mb-1 d-flex flex-row align-items-center">
      <div class="rectangle" [ngClass]="{'disconnected':!connectStatus}"  >
        <div *ngIf="connectStatus">
          {{weight}}
        </div>
      </div>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6">
      <div class="d-grid gap-2">
        <button class="btn btn-sm btn-info" [disabled]="!connectStatus" *ngIf="isFirstScreen" type="reset" mat-flat-button mat-button
          (click)="weightChangeEvent()">
          First Weight
        </button>

        <button class="btn btn-sm btn-info" [disabled]="!connectStatus" *ngIf="!isFirstScreen" mat-flat-button mat-button
          (click)="weightChangeEvent()">
          Second Weight
        </button>
      </div>

    </div>

  </div>


  <div class="row">

    <div class="mb-1 mt-1 d-flex col-lg-2 col-md-5 col-sm-6">
      <ui-switch [(ngModel)]="connectStatus" ></ui-switch>
    </div>

  </div>


</div>