<div class="printtemplate">

  <div class="d-flex justify-content-center">
    <h2> {{'templatedata.printlayout' | translate }}</h2>
  </div>


  <div style="margin-bottom: 1rem;">
    <div class="panels-container">
      <div id="panel-2" class="panel"></div>
    </div>
  </div>


  <div class="d-flex justify-content-between d-print-none">
    <button class="btn btn-md" mat-flat-button color="primary" type="submit" mat-button id="printButton"
      (click)="printLayout()">
      {{'actions.print' | translate }}
    </button>

    <button class="btn btn-md btn-link" mat-flat-button type="submit" mat-button (click)="closeLayout()">
      {{'actions.cancel' | translate }}
    </button>

  </div>

</div>