@import 'styles.scss';

.printtemplate {

    .panel {
        border: 1px solid black;
        position: relative;
        overflow: hidden;
        padding: 10px;
    }
    
    #panel-2 {
        width: 600px;
        height: 600px;
        background-color: #fff;
    }
    
    
    
    .dropped-in-panel2 {
        position: absolute;
        z-index: 100;
    }
    
    .dialog-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    
      .mat-dialog-title {
        margin: 0 0 10px;
      }
}