<div class="transactionslist">
    <app-list-table [tblColumns]="tblColumns" [tableData]="tableData" [sortColumn]="sortColumn"
      [componentName] ="'transactions'" [visibleColumns]='visibleColumns' (sequenceNoChange) ="onsequenceNoChange($event)"
        (actionEvent)="selectedRecord($event)" (dateSelectionEvent)="dateSelectionChangedEvent($event)" 
        (pageOptionChange) ="onPageOptionChange($event)" [showPrintIcon]="true" [isServerPagination]="true" 
        [totalItems] ="totalItems"
        (sortOptionChange) ="onSortOptionChange($event)"></app-list-table>
</div>