@import "styles.scss";

.layout-component {
  .example-container {
    max-width: 100%;
    margin: 0 25px 25px 0;
    vertical-align: top;
  }

  .box-header {
    padding: 20px 10px;
    border: solid 1px #ccc;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
    font-weight: bold;
  }

  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(60vh - 100px);
    @include scrollbars();
  }

  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  

  .example-box:last-child {
    border: none;
  }

  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .m-r-5 {
    margin-right: 0.5rem;
  }

  .flex-container {
    display: flex;
  }

  .flex-child {
    flex: 1;
  }

  .flex-child:first-child {
    margin-right: 1rem;
  }
}

.img-cls {
  max-width: 300px;
  height: 200px;
}
