
  .weightbridgeweight {
  
    .btn-save {
     margin-inline-start: 1rem;      
    
      @media (max-width: 468px) {
        margin-inline-start: .1rem;
        margin-top: .5rem;
      }   
      
    }

    .mat-radio-button ~ .mat-radio-button {
      margin-left: 0 !important;
    }

  }