@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

html {
  overflow: hidden;
  height: 100%;
  font-size: 14px;
  font-size: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  /* 10 * 1.6 = 16px */
  color: #333;
  height: auto;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

.m-r-15 {
  margin-right: 15px;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 15px;
}

.mat-form-field {
  width: 100%;
}

.error {
  padding: 15px;
  color: white;
  background-color: red;
}


.mat-sort-header-content {
  color: #3A3A4A;
  font-size: .9rem;
}

.appLogo {
  background: #F0F1F9;

  >img {
    margin: .5rem;
    border: 1px solid #FFFFFF;
  }
}

.tbl-header-bg {
  background-color: #F0F1F9;
}


.formMrgin-Top {
  margin-top: 20%;
}

@media screen and (max-height: 60rem) {
  .formMrgin-Top {
    margin-top: 20%;
  }
}

@media screen and (max-height: 40rem) {
  .formMrgin-Top {
    margin-top: 7%;
  }
}

.a {
  color: #FFFFFF;
}


.cdk-overlay-container {
  z-index: 1050;
}

.valign-sub {
  vertical-align: sub;
}

.custom-dialog {
  overflow: auto;
  width: 90vw;

  @include media-breakpoint-up(sm) {
    width: 80vw;
  }

  @include media-breakpoint-up(md) {
    width: 80vw;
  }

  @include media-breakpoint-up(lg) {
    width: 60vw;
  }

  @include media-breakpoint-up(xl) {
    width: 50vw;
  }

  @include media-breakpoint-up(xxl) {
    width: 50vw;
  }

}

.mat-typography {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

  .cursor-pointer {
    cursor: pointer;
 }

 .disable:hover{
  cursor: not-allowed;
}
.disable:active{
  pointer-events: none;
}
mat-icon.disable {
  filter:opacity(0.5);
}

.switch.switch-medium {     
  color: white !important;
  min-width: 86% !important;

  @media (max-width: 568px) {
    min-width: 99% !important;
  }
 
}

.switch.switch-medium > .switch-pane > span {
  font-size: 12px !important;
}

@mixin scrollbars (){

  &::-webkit-scrollbar {
      width: 12px;
  }
  
  &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(104, 140, 240, 0.3);
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
      box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
}