
  .transactiondata {

  
    /* Prevent image stretching as it's resized */
    .card-img-top {
        object-fit: cover;
    }
    
    /* Make all cards in row the same height */
    .row {
       display: flex;
       flex-wrap: wrap;
    }
    
    .row > div[class*='col-'] {
      display: flex;
    }
              
    
    .card-layout {
      display: flex;
      align-items: center;
      justify-content: center;


      .item {
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 568px) {
          width: 3rem;
        }
      }
      
      .item-center { 
        flex-grow: 1;        
      }
      
      .item + .item { 
        margin-left: 2%; 
      }
  
    }
    
    
  }