<div class="transactiondata">

  <div class="card-layout">

    <div class="item d-print-none">
      <mat-icon class="material-icons" [ngClass]="{'disable':actionItem.isFirst}" [attr.disabled]="actionItem.isFirst" (click)="changeCard(false)">
        arrow_back
      </mat-icon>
    </div>

    <div class="item-center">
      <div class="card">
        <div class="card-body">

          <app-weightbridge [isFirstScreen] ="actionItem.isFirst" (weightChange)="onWeightChange($event)"></app-weightbridge>

          <div class="d-flex justify-content-center">
            <h2 class="mb-3">{{ actionItem.isFirst ? staticText.entryHeaderText : staticText.exitHeaderText }}</h2>
          </div>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-4 border-bottom"></div>         

          <app-transactionentrydata *ngIf="actionItem.isFirst" [weight] ="weight"></app-transactionentrydata>

          <app-transactionexitdata *ngIf="actionItem.isLast" [weight] ="weight" ></app-transactionexitdata>
          
        </div>
      </div>
    </div>
  
    <div class="item d-print-none">
      <mat-icon class="material-icons cursor-pointer" [ngClass]="{'disable':actionItem.isLast}" [attr.disabled]="actionItem.isLast" (click)="changeCard(true)">
        arrow_forward
      </mat-icon>
    </div>
  </div>
 
  
</div>   
