<div class="transactiondata">

  <div class="card-layout">

    <div class="item d-print-none">
      <mat-icon class="material-icons" [attr.title] ="'transactions.data.entry.header' | translate"  [ngClass]="{'disable':actionItem.isFirst}" [attr.disabled]="actionItem.isFirst" (click)="changeCard(false)">
        arrow_back
      </mat-icon>
    </div>

    <div class="item-center">
      <div class="card">
        <div class="card-body" >

          <app-weightbridge [isFirstScreen] ="actionItem.isFirst" (weightChange)="onWeightChange($event)"></app-weightbridge>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom"></div>         

          <app-transactionentrydata *ngIf="actionItem.isFirst" [weight] ="weight" [sequenceno] ="sequenceno" [actionName] ="actionName" [transactionData]="transactionData" [selectedScaleType] ="selectedScaleType"
          (sequenceNoChange) ="onsequenceNoChange($event)" ></app-transactionentrydata>

          <app-transactionexitdata *ngIf="actionItem.isLast" [weight] ="weight" [sequenceno] ="sequenceno" [actionName] ="actionName" [transactionData]="transactionData" [selectedScaleType] ="selectedScaleType"></app-transactionexitdata>
          
        </div>
      </div>
    </div>
  
    <div class="item d-print-none">
      <mat-icon class="material-icons cursor-pointer" [attr.title] ="'transactions.data.exit.header' | translate"  [ngClass]="{'disable':actionItem.isLast}" [attr.disabled]="actionItem.isLast" (click)="changeCard(true)">
        arrow_forward
      </mat-icon>
    </div>
  </div>
 
  
</div>   
