@import 'styles.scss';

.card-body-scorll {
  min-height: 150px;
  max-height: 180px;
  overflow-x: hidden;
  @include scrollbars();
}

.card {
  margin: .25rem;
}

.card-body {
  padding: .015rem;
}

.card-text {
  padding: .5rem;
}

.card-header {
  padding: .5rem;
  background-color: #3f51b5;
  color: #fff;
  text-align: center;
}

.card-footer {
   padding: .35rem;
}

.mat-icon-button  {
 height: 1.65rem;
 width: 1.65rem;
 line-height: 1.65rem;
}

.tblheader {
  height: 2rem;
  word-wrap: break-word;  
  background-color: rgba(0,0,0,.03);
  background-clip: border-box;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding-inline: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.layout-component { 

    .example-container {
        max-width: 100%;
        margin: 0 25px 25px 0;
        vertical-align: top;
      }

      .box-header {
        padding: 20px 10px;
        border: solid 1px #ccc;
        box-sizing: border-box;
        background: white;
        font-size: 14px;
        font-weight: bold;
      }
      
      .example-list {
        border: solid 1px #ccc;
        min-height: 60px;
        background: white;
        border-radius: 4px;
        overflow-x: hidden;
        overflow-y: auto ;
        height: calc(60vh - 100px);
        @include scrollbars();
      }
      
      .example-box {
        padding: 20px 10px;
        border-bottom: solid 1px #ccc;
        box-sizing: border-box;
        cursor: move;
        background: white;
        font-size: 14px;
      }
      
      .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
      }
      
      .cdk-drag-placeholder {
        opacity: 0;
      }
      
      .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
      
      .example-box:last-child {
        border: none;
      }
      
      .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
}
  