<div class="modaldialog" *ngIf="data.actionName === 'changePwd'">
  <h1 mat-dialog-title>{{ staticText.passwordtitle }}</h1>

  <div mat-dialog-content>
    <form class="my-form" [formGroup]="dialogForm">

      <mat-form-field class="full-width">
        <mat-label>{{staticText.oldpassword}}</mat-label>
        <input matInput type="password" formControlName="oldPassword" placeholder="{{staticText.oldpassword}}" name="oldPassword" />
        <mat-error *ngIf="dialogForm.controls['oldPassword'].errors &&
            dialogForm.controls['oldPassword'].errors['required']  &&
            dialogForm.controls['oldPassword'].touched
          ">{{staticText.oldpassword}} {{staticText.required}}
        </mat-error>
        <mat-error *ngIf="dialogForm.controls['oldPassword'].errors &&
            dialogForm.controls['oldPassword'].errors['minlength'] &&
            dialogForm.controls['oldPassword'].touched
          ">Password must be at least 6 characters
        </mat-error>
        <mat-error *ngIf="dialogForm.controls['oldPassword'].errors &&
            dialogForm.controls['oldPassword'].errors['maxlength'] &&
            dialogForm.controls['oldPassword'].touched
          ">Password must be max 12 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>{{staticText.password}}</mat-label>
        <input matInput type="password" formControlName="password" placeholder="{{staticText.password}}" name="password" />
        <mat-error *ngIf="dialogForm.controls['password'].errors &&
            dialogForm.controls['password'].errors['required']  &&
            dialogForm.controls['password'].touched
          ">{{staticText.password}} {{staticText.required}}
        </mat-error>
        <mat-error *ngIf="dialogForm.controls['password'].errors &&
            dialogForm.controls['password'].errors['minlength'] &&
            dialogForm.controls['password'].touched
          ">Password must be at least 6 characters
        </mat-error>
        <mat-error *ngIf="dialogForm.controls['password'].errors &&
            dialogForm.controls['password'].errors['maxlength'] &&
            dialogForm.controls['password'].touched
          ">Password must be max 12 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>{{staticText.confirmpassword}}</mat-label>
        <input matInput type="password" formControlName="confirmPassword" placeholder="{{staticText.confirmpassword}}"
          name="confirmPassword" />
        <mat-error *ngIf="dialogForm.controls['confirmPassword'].errors &&
            dialogForm.controls['confirmPassword'].errors['required'] &&
            dialogForm.controls['confirmPassword'].touched
          ">{{staticText.confirmpassword}} {{staticText.required}}
        </mat-error>
        <mat-error *ngIf="dialogForm.controls['confirmPassword'].errors &&
            dialogForm.controls['confirmPassword'].errors['mustMatch'] &&
            dialogForm.controls['confirmPassword'].touched
          ">Passwords must match
        </mat-error>
      </mat-form-field>
    </form>
  </div>

  <div mat-dialog-actions class="d-flex justify-content-between w-100">
    <button class="btn btn-md" mat-flat-button color="primary" type="submit" mat-button (click)="savePassword()">
      {{staticText.save}}
    </button>

    <button class="btn btn-md btn-link" mat-flat-button type="submit" mat-button (click)="close()">
      {{staticText.cancel}}
    </button>
  </div>
</div>

<div class="modaldialog" *ngIf="data.actionName === 'viewProfile'">
  <div mat-dialog-content>
    <div class="page-content page-container" id="page-content">
      <div class="container h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-">
            <div class="card user-card-full">
              
                <form class="my-form" [formGroup]="dialogForm">
                  <div class="row mb-2">
                    <div class="col">
                      <mat-form-field class="full-width">
                        <mat-label>{{staticText.username}}</mat-label>
                        <input matInput placeholder="{{staticText.username}}" formControlName="userName" name="userName" />
                        <mat-error *ngIf="dialogForm.controls['userName'].errors && 
                                dialogForm.controls['userName'].errors['required'] &&
                                dialogForm.controls['userName'].touched
                              ">{{staticText.username}} {{staticText.required}}
                        </mat-error>
                      </mat-form-field>
                    </div>

                    
                  </div>

                  <div class="row mb-2">
                    <div class="col">
                      <mat-form-field class="full-width">
                        <mat-label>{{staticText.email}}</mat-label>
                        <input matInput placeholder="{{staticText.email}}" formControlName="email" name="email" />
                        <mat-error *ngIf="dialogForm.controls['email'].errors &&
                                dialogForm.controls['email'].errors['required'] &&
                                dialogForm.controls['email'].touched
                              ">{{staticText.email}} {{staticText.required}}
                        </mat-error>
                        <mat-error *ngIf="dialogForm.controls['email'].errors &&
                                dialogForm.controls['email'].errors['pattern'] &&
                                dialogForm.controls['email'].touched
                              ">Email must be a valid email address
                        </mat-error>
                      </mat-form-field>
                    </div>

                    
                  </div>

                  <div class="row mb-2">                 
                    <div class="col">
                      <section>
                        <label class="m-r-15">{{staticText.language}}</label>
                        <mat-select formControlName="language" placeholder="{{staticText.language}}">
                          <mat-option *ngFor="let lang of userLanguages" [value]="lang.key">
                            {{lang.value}}
                          </mat-option>
                        </mat-select>

                        <mat-error *ngIf="dialogForm.controls['language'].errors && 
                                dialogForm.controls['language'].errors['required'] &&
                                dialogForm.controls['language'].touched
                              ">{{staticText.language}} {{staticText.required}}
                        </mat-error>
                      </section>
                    </div>


                  </div>

                  <div class="row mb-2">
                    

                  </div>

                  <div class="d-flex justify-content-between w-100">

                    <button class="btn btn-xs" mat-flat-button color="primary" type="submit" mat-button
                      (click)="saveProfile()">
                      {{staticText.update}}
                    </button>

                    <button class="btn btn-xs btn-link" mat-flat-button type="submit" mat-button (click)="close()">
                      {{staticText.cancel}}
                    </button>

                  </div>
                </form>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


<div class="modaldialog" *ngIf="data.actionName === 'projectSetup'">
  <h1 mat-dialog-title>{{ staticText.projectsetuptitle }}</h1>

  <div mat-dialog-content>
    <form class="my-form" [formGroup]="dialogForm">

      <div class="row mb-2">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{staticText.name}}</mat-label>
            <input matInput placeholder="{{staticText.name}}" formControlName="name" name="name" />
          </mat-form-field>
        </div>
        
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{staticText.contactno}}</mat-label>
            <input matInput placeholder="{{staticText.contactno}}" formControlName="contactno" name="contactno" />           
          </mat-form-field>
        </div> 
      </div>

      <div class="row mb-2">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{staticText.email}}</mat-label>
            <input matInput placeholder="{{staticText.email}}" formControlName="email" name="email" />           
            <mat-error *ngIf="dialogForm.controls['email'].errors &&
                    dialogForm.controls['email'].errors['pattern'] &&
                    dialogForm.controls['email'].touched
                  ">{{staticText.emailerror}}
            </mat-error>
          </mat-form-field>
        </div>
        
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{staticText.date}}</mat-label>
            <input matInput placeholder="{{staticText.date}}" [matDatepicker]="picker" formControlName="date" name="date" />   
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>        
          </mat-form-field>
        </div> 
      </div>

      <div class="row mb-2">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{staticText.transcount}}</mat-label>
            <input matInput placeholder="{{staticText.transcount}}" formControlName="count" name="count" />
            <mat-error *ngIf="dialogForm.controls['count'].errors &&
                    dialogForm.controls['count'].errors['pattern'] &&
                    dialogForm.controls['count'].touched
                  ">{{staticText.numbererror}}
            </mat-error>         
          </mat-form-field>
        </div>
        
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{staticText.address}}</mat-label>
            <input matInput placeholder="{{staticText.address}}" formControlName="address" name="address" />           
          </mat-form-field>
        </div> 
      </div>

      <div class="row mb-2">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{staticText.existingCount}}</mat-label>
            <input matInput placeholder="{{staticText.existingCount}}" formControlName="existingCount" name="existingCount" />               
          </mat-form-field>
        </div>
        
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{staticText.startdate}}</mat-label>
            <input matInput placeholder="{{staticText.startdate}}" formControlName="startDate" name="startDate" />           
          </mat-form-field>
        </div> 
      </div>
      
    </form>
  </div>

  <div mat-dialog-actions class="d-flex justify-content-between w-100">
    <button class="btn btn-md" mat-flat-button color="primary" type="submit" mat-button (click)="saveProject()">
      {{staticText.save}}
    </button>

    <button class="btn btn-md btn-link" mat-flat-button type="submit" mat-button (click)="close()">
      {{staticText.cancel}}
    </button>
  </div>
</div>

<div id="printSection" class="modaldialog" *ngIf="data.actionName === 'printSetup'">

  <div mat-dialog-title class="dialog-title">
    <h2>{{staticText.printlayout}}</h2>
    <button class="d-print-none" mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>


  <div mat-dialog-content style="margin-bottom: 1rem;">
    <div class="panels-container">
      <div id="panel-2" class="panel"></div>
  
    </div>
  </div>


  <div class="d-flex justify-content-between w-100 d-print-none">
    <button class="btn btn-xs" mat-flat-button color="primary" type="submit" mat-button id="printButton"
      (click)="printLayout()">
      {{staticText.print}}
    </button>

    <button class="btn btn-xs btn-link" mat-flat-button type="submit" mat-button (click)="close()">
      {{staticText.cancel}}
    </button>

  </div>
</div>
