
<div class="list-filter">

    <div class="row">

        <div class="col-md-6"><button mat-flat-button color="primary" type="submit" class="btn btn-md mt-1" mat-button
                (click)="addnewRecord()">
                <mat-icon>add</mat-icon>{{'common.addnew' | translate }}
            </button></div>
        <div class="col-md-6 mt-1">
            <mat-form-field>
                <mat-label>{{'common.filter' | translate }}</mat-label>
                <input matInput [formControl]="searchControl" [placeholder]="placeholderText" #input  autocomplete="off"  />
            </mat-form-field>
        </div>
    </div>

</div>
