<form class="operator-form" [formGroup]="form">
  <div class="row mb-2">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Operator Code</mat-label>
        <input matInput placeholder="Operator Code" formControlName="operatorId" name="operatorId" />
        <mat-error *ngIf="form.controls['operatorId'].errors && 
          form.controls['operatorId'].errors['operatorId'] &&
          form.controls['operatorId'].touched
                ">Operator Code is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Operator Name</mat-label>
        <input matInput placeholder="Operator Name" formControlName="operatorName" name="operatorName" />
        <mat-error *ngIf="form.controls['operatorName'].errors && 
          form.controls['operatorName'].errors['required'] &&
          form.controls['operatorName'].touched
                ">Operator Name is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>


  <div class="d-flex justify-content-between w-100">

    <button *ngIf="data.actionName !== 'view'" class="btn btn-sm" mat-flat-button color="primary" type="submit"
      mat-button (click)="save()">
      Save
    </button>

    <button class="btn btn-sm btn-link" mat-flat-button type="submit" mat-button (click)="close()">
      Cancel
    </button>

  </div>
</form>